{% extends "hunt20/base.html" %}
{%block bodyclass%}{{background}}{% endblock bodyclass%}
{% block content %}
    <h1 class="text-center mb-3">About/Rules</h1>
    <div class="rules">
        <h2>Format</h2>
            <ul>
                <li>
                    The puzzlehunt begins on <span class="text-warning">Thursday 6/25 at 12 pm AZ time</span> and will run for a full week, until <span class="text-warning">Thursday 7/2 at 12 pm AZ time</span>, at which point we will stop accepting answers and declare a winner! Solutions will also be posted at that time.
                </li>
                <li>
                    Teams have a maximum size of 6 people. It is against the rules to create or be a member of multiple teams.
                </li>
                <li>
                    Due to our remote work, we'll be allowing non-Carvana family and friends to join teams! The only restrictions are the team captain must be a Carvana employee and <span class="text-warning"> half your team or more must consist of Carvana employees</span>.
                </li>
                <li>
                    A handful of puzzles will be available at the start of the hunt. To unlock new puzzles, solve available ones and progress.
                </li>
                <li>
                    Teams that complete the hunt (solve every puzzle) will be ranked by time of finish. All other teams will be ranked by total number of puzzles solved, tiebroken by earliest last solve time (ie. who got to that number of solves first)
                </li>
            </ul>
        <h2>Prizes</h2>
            <ul>
                <li>
                    The winning team (and all teams that give it their all) will receive the most valuable prize of all: a sense of pride and accomplishment. And perhaps... maybe the real prizes were the friends we made along the way?
                </li>
            </ul>
        <h2>Answers</h2>
        <ul>
            <li>
                Each answer is a word or phrase consisting only of letters A-Z. 
            </li>
            <li>
                Guesses will be converted to uppercase and stripped of non A-Z characters before being checked for correctness.
            </li>
            <li>
                You have <span class="text-warning">25 total guesses for each puzzle</span>. If you legitimately run out of guesses and need more, feel free to contact us and we'll help you out. We won't necessarily grant your request if we see you're just randomly guessing thematic answers or brute forcing every 7 letter word starting with "E" because you think you have a single letter (<a class="text-primary" href="https://www.quinapalus.com/cgi-bin/qat?pat=e......&ent=Search&dict=0">there are a lot</a>, don't do that)
            </li>
        </ul>        
        <h2>Hints</h2>
        <ul>
            <li>
                Teams get <span class="text-warning">2 hints at the start of the hunt</span> and will receive <span class="text-warning">2 additional hints at 12 pm every subsequent day</span>. Hints accumulate, don't expire, and can be used at any time after they become available.
            </li>
            <li>
                Hints are personalized and designed to get you unstuck on a puzzle. They can be can be something like a push in the right direction (i.e. you give us your progress on the puzzle and we'll try to get you unstuck) or an answer to a question (e.g. "Which answers to these crossword clues are wrong?")
            </li>
        </ul>            
        <h2>Other Stuff</h2>
        <ul>
            <li>
                You may (and are encouraged/required to for some puzzles) use ANY external sources (internet, books, other people) for help so long as any folks you ask for help aren't on another team or actively participating in the hunt
            </li>
            <li>
                It won’t be necessary to look at the HTML source/Javascript/CSS on any webpages to solve any puzzles
            </li>
            <li>
                We reserve the right to disqualify any team for unsportsmanlike conduct.
            </li>
            <li>
                We reserve the right to change any of these rules. If there’s a big change, we’ll announce it to all teams.
            </li>
            <li>
                <span class="text-warning">If you're looking for "what is a puzzle?" type stuff, check the</span> <a class="text-primary" href="{%url 'hunt20-guide' %}">FAQ</a> 
            </li>
            <li>
                If you have any questions on the rules or wish to contact us for any reason, don't hesitate to email us at carvanapuzzles@gmail.com
            </li>
        </ul>          
        </div>
{% endblock content %}