{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'hunt20/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Cutive|Coustard|Spartan" rel="stylesheet">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Carvana Puzzles</title>
    {% endif %}
</head>
<body id="{% block bodyclass %}{% endblock %}">
    <header class="site-header">
        <nav class="navbar justify-content-between navbar-expand-lg">
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-home' %}">Home</a>                  
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-about' %}">About/Rules</a>
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-puzzles' %}">Puzzles</a>
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-hints' %}">Hints</a>
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-leaderboard' %}">Leaderboard</a>
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-faq' %}">FAQ</a>
            <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-guide' %}">Guide</a>
            {% if user.is_authenticated %}
                <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-team' user.pk %}">{{ user.team.name }}</a>
                <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-logout' %}">Log Out</a>
            {% else %}
                <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-login' %}">Login</a>
                <a class="nav-item nav-link nav-collapse" href="{%url 'hunt20-register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <div class="container main rounded">
        {% if messages %}
            {% for message in messages %}
                <div class="my-1 text-center alert alert-{{message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</body>
</html>