{% extends "hunt20/base.html" %}
{% block content %}
    <h1 class="text-center mb-3">FAQ</h1>
    <h2>What is a puzzlehunt? How do I solve these puzzles?</h2>
    <p>
        Puzzlehunt puzzles are unique creatures. While traditional puzzles tend to have a clear set of instructions and set format, puzzlehunt puzzles take on many forms and often feature a lack of direct instructions--figuring out what to do and how to make sense of the information you're given is the interesting part! Solving them often involves wordplay, lateral thinking, codes, or finding key information on a clued topic or outside references. No two puzzles are ever the same.
    </p>
    <h2>Can I use the internet and Google and stuff?</h2>
    <p>
        Yes! Most definitely. It will be immensely helpful for certain puzzles and mildly useful for others.
    </p>
    <h2>I've never done this before and this sounds hard</h2>
    <p>
        OK technically that's not a question. But we understand and want to encourage you to not be intimidated! We've constructed this hunt to be entertaining and engaging for a wide variety of solving levels and hope that every team that sets out on this journey will be able to make a good amount of progress. Remember that personalized hints are readily available and expected to be used! We've also put together a <a class="text-primary" href="{%url 'hunt20-guide' %}">First Time Solver's Guide</a> containing tips, tricks, and examples from other puzzlehunts that we would encourage all hunters to read.
    </p>
    <h2>How many puzzles will there be?</h2>
    <p>
        About 20.
    </p>
    <h2>Do I need a 6 person team?</h2>
    <p>
        No, you can hunt with less (or solo if you're super hardcore) but remember puzzling is always more fun with a team! Besides, teammates are great for parallelizing work (tackling multiple unlocked puzzles simultaneously), bouncing ideas off of, and having fun (the ultimate goal!) with.
    </p>
    <h2>Is there any physical component to the hunt?</h2>
    <p>
        Nope. The entirety of the hunt is online so your team can be anywhere to hunt (and win).
    </p>
    <h2>I think the website is broken and/or I found an error in a puzzle</h2>
    <p>
        Thanks! Email us at carvanapuzzles@gmail.com and we'll get on it.
    </p>
    <h2>Who is running this? And more importantly, why?</h2>
    <p>
        We're Carvana Puzzles, a group of Carvana employees who enjoy puzzlehunting and writing puzzles in our free time. Hopefully we can share some of the joy from that world with you!
    </p>
    <h2>Is there a registration deadline?</h2>
    <p>
        Nope, feel free to sign up any time before hunt ends.
    </p>
    <h2>I have a question that's not listed here</h2>
    <p>
        Email it to us at carvanapuzzles@gmail.com and we'll do our best to answer it!
    </p>
{% endblock content %}