{% extends "hunt20/base.html" %}
{%block bodyclass%}{{background}}{% endblock bodyclass%}
{% load static%}
{% block content %}
    <h1 class="text-center mb-3">
        Whoops!
    </h1>
    <h4 class="text-center">
        This page doesn't exist or you don't have access to it (...yet?)
    </h4>
    <br>
    <br>
    <p class="small text-center ">
        Nothing on this page is a puzzle or clue. If you think you've received this page in error, contact carvanapuzzles@gmail.com
    </p>
{% endblock content %}