{% extends "hunt20/base.html" %}
{% block content %}
    <div id="main">
        <div class="d-flex border-bottom justify-content-between align-items-center p-2" id="puzzletop">
            <div class="" id="titlearea">
                <h1 class="" id="title">
                    Funny Bones
                </h1>
            </div>
        </div>
        <div class="mt-4" id="content">
            <div class="flavor">
                The team doctors at the puzzlympics think they're hilarious...
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    What type of verbal hesitation is serious?
                </div>
                <div class="col-4">
                    <span class="text-warning">_</span> _ _ _ _ _ _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    Why did the worker stop driving to the office alone?
                </div>
                <div class="col-4">
                    _ <span class="text-warning">_</span> _ _ _ _ _ _ _ _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    What do you call a father who works at a bank?
                </div>
                <div class="col-4">
                    _ _ <span class="text-warning">_</span> _ _ _ _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    How would one catch the doctor from Futurama?
                </div>
                <div class="col-4">
                    _ _ _ _ _ _ <span class="text-warning">_</span> _ _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    What do you call a lying cloud of space dust?
                </div>
                <div class="col-4">
                    <span class="text-warning">_</span> _ _ _ _ _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    What sound does half of a frog make?
                </div>
                <div class="col-4">
                    _ _ <span class="text-warning">_</span>
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    How do under-the-tongue thermometers work?
                </div>
                <div class="col-4">
                    _ _ _ _ <span class="text-warning">_</span> _ _ _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    How do you take the natural logarithm of a?
                </div>
                <div class="col-4">
                    _ _ <span class="text-warning">_</span> _
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    What did the farmer say after he fed his pigs?
                </div>
                <div class="col-4">
                    _ _ _ _ _ <span class="text-warning">_</span>
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-8">
                    What are most of these puns (hopefully)?
                </div>
                <div class="col-4">
                    _ _ _ _ _ _ <span class="text-warning">_</span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}