{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}

{% block solutioncontent %}
<p class="my-4">
    Each of the clues can be answered in punny fashion with the name of a bone in the human body.
</p>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        What type of verbal hesitation is serious?
    </div>
    <div class="col-lg-4">
        <span class="text-warning">S</span>TERNUM
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        Why did the worker stop driving to the office alone?
    </div>
    <div class="col-lg-4">
        M<span class="text-warning">E</span>TACARPAL
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        What do you call a father who works at a bank?
    </div>
    <div class="col-lg-4">
        PA<span class="text-warning">T</span>ELLA
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        How would one catch the doctor from Futurama?
    </div>
    <div class="col-lg-4">
        TRAPEZ<span class="text-warning">O</span>ID
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        What do you call a lying cloud of space dust?
    </div>
    <div class="col-lg-4">
        <span class="text-warning">F</span>IBULA
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        What sound does half of a frog make?
    </div>
    <div class="col-lg-4">
        RI<span class="text-warning">B</span>
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        How do under-the-tongue thermometers work?
    </div>
    <div class="col-lg-4">
        TEMP<span class="text-warning">O</span>RAL
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        How do you take the natural logarithm of a?
    </div>
    <div class="col-lg-4">
        UL<span class="text-warning">N</span>A
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        What did the farmer say after he fed his pigs?
    </div>
    <div class="col-lg-4">
        HAMAT<span class="text-warning">E</span>
    </div>
</div>
<div class="row align-items-center my-2">
    <div class="col-lg-8">
        What are most of these puns (hopefully)?
    </div>
    <div class="col-lg-4">
        HUMERU<span class="text-warning">S</span>
    </div>
</div>
<p class="my-4">
    The highlighted letters spell SET OF BONES, which clues the answer <span class="text-success h5">SKELETON</span>.
</p>
<hr>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    If you ask me what my favorite type of puzzle is, I will usually say something along the lines of "anything that makes me laugh." So I guess it's not a surprise that there's a dumb pun puzzle right up front.
</div>
<div class="flavor">
    My favorite joke that didn't make the cut--What did the man say when the green veggies were rolling off his plate? "Stapes!" This is really funny if you happen to know that this ear bone is pronounced "stay-peas" and really confusing if you've never heard of it and assume it rhymes with "capes" when you see it written out. All of our testsolvers fell into the latter category so now it lives here, in the author's notes. -JO
</div>
{% endblock solutioncontent %}