{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}
{% block puzzlecontent %}
    <div class="flavor">
        Some royalty usually attends the puzzlympics but this year not all of them made it...
    </div>
    <div class="row">
        <div class="col-4">
            <table class="barcross">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td id="l">7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="l">11</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="l">13</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="l">15</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td id="t">16</td>
                    <td></td>
                    <td id="t">17</td>
                    <td></td>
                    <td></td>
                    <td id="t">18</td>
                    <td></td>
                    <td id="t">19</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td id="t">21</td>
                    <td></td>
                    <td id="t">22</td>
                    <td></td>
                    <td id="l">23</td>
                    <td id="t">24</td>
                    <td></td>
                    <td id="t">25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="l">27</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td id="l">28</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="l">29</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td></td>
                    <td></td>
                    <td id="l">31</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h5>
                Across
            </h5>
            <div>
                1. 👑
            </div>
            <div>
                7. "No ___, ands, or buts"
            </div>
            <div>
                10. 👑
            </div>
            <div>
                11. Like times that happened long ago
            </div>
            <div>
                12. Less tan
            </div>
            <div>
                13. 👑
            </div>
            <div>
                14. Swirl a pot's contents
            </div>
            <div>
                15. One of the senses
            </div>
            <div>
                16. Sci-fi battlestation
            </div>
            <div>
                20. Black cattle
            </div>
            <div>
                23. 👑
            </div>
            <div>
                26. Type of average
            </div>
            <div>
                27. They're smaller than cities and larger than villages
            </div>
            <div>
                28. 👑
            </div>
            <div>
                29. Ark builder
            </div>
            <div>
                30. Very long time
            </div>
            <div>
                31. Often found at the end of a threat
            </div>
        </div>
        <div class="col-md-4">
            <h5>
                Down
            </h5>
            <div>
                1. Electric guitars need them
            </div>
            <div>
                2. Writing tablet
            </div>
            <div>
                3. French Sudan, today
            </div>
            <div>
                4. Lacking the ability to move
            </div>
            <div>
                5. Guiding light
            </div>
            <div>
                6. Actor Idris
            </div>
            <div>
                7. i.e., in full
            </div>
            <div>
                8. Pool table material
            </div>
            <div>
                9. Scornful smile
            </div>
            <div>
                16. Jean-Claude Van _____
            </div>
            <div>
                17. Another time
            </div>
            <div>
                18. Rock
            </div>
            <div>
                19. Kendrick and Karenina
            </div>
            <div>
                21. Roman emperor
            </div>
            <div>
                22. Revert
            </div>
            <div>
                24. Mysteriously missing
            </div>
            <div>
                25. Tennis great Arthur
            </div>
        </div>
    </div>
{% endblock puzzlecontent %}