{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    The crossword can be solved normally with each 👑 entry being filled by the name of a Disney Princess with one letter removed ("not all of them made it"):
</p>
<div class="row">
    <div class="col-lg-12 mb-2 d-flex justify-content-center">
        <table class="barcross-sol">
            <tr>
                <td>A</td>
                <td>S</td>
                <td>M</td>
                <td>I</td>
                <td>N</td>
                <td>E</td>
                <td id="l">I</td>
                <td>F</td>
                <td>S</td>
            </tr>
            <tr>
                <td>M</td>
                <td>L</td>
                <td>A</td>
                <td>N</td>
                <td id="l">O</td>
                <td>L</td>
                <td>D</td>
                <td>E</td>
                <td>N</td>
            </tr>
            <tr>
                <td>P</td>
                <td>A</td>
                <td>L</td>
                <td>E</td>
                <td>R</td>
                <td id="l">B</td>
                <td>E</td>
                <td>L</td>
                <td>E</td>
            </tr>
            <tr>
                <td>S</td>
                <td>T</td>
                <td>I</td>
                <td>R</td>
                <td id="l">T</td>
                <td>A</td>
                <td>S</td>
                <td>T</td>
                <td>E</td>
            </tr>
            <tr>
                <td id="t">D</td>
                <td>E</td>
                <td id="t">A</td>
                <td>T</td>
                <td>H</td>
                <td id="t">S</td>
                <td>T</td>
                <td id="t">A</td>
                <td>R</td>
            </tr>
            <tr>
                <td>A</td>
                <td id="t">N</td>
                <td>G</td>
                <td id="t">U</td>
                <td>S</td>
                <td id="l">T</td>
                <td id="t">A</td>
                <td>N</td>
                <td id="t">A</td>
            </tr>
            <tr>
                <td>M</td>
                <td>E</td>
                <td>A</td>
                <td>N</td>
                <td id="l">T</td>
                <td>O</td>
                <td>W</td>
                <td>N</td>
                <td>S</td>
            </tr>
            <tr>
                <td id="l">M</td>
                <td>R</td>
                <td>I</td>
                <td>D</td>
                <td>A</td>
                <td id="l">N</td>
                <td>O</td>
                <td>A</td>
                <td>H</td>
            </tr>
            <tr>
                <td>E</td>
                <td>O</td>
                <td>N</td>
                <td id="l">O</td>
                <td>R</td>
                <td>E</td>
                <td>L</td>
                <td>S</td>
                <td>E</td>
            </tr>
        </table>
    </div>
<div>
<p class="my-4">
    Going down the grid, the missing letters from (J)ASMINE, M(U)LAN, BE(L)LE, T(I)ANA, and M(E)RIDA spell the answer <span class="h5 text-success">JULIE</span>.
</p>
<hr>
<div class="flavor">Author's Notes</div>
<div class="flavor">
    This was originally planned to be in a later round and have all 12 Disney Princesses. The novelty of filling in the crown answers is lost after making the connection the first time, so the puzzle got shrunk and moved into the first round where ideally the majority of them click at the same time in a smaller grid. Like my note from last year, small crosswords also just make great intro puzzles.
</div>
<div class="flavor">
    This hunt was my first time using <a class="text-primary" href="https://www.quinapalus.com/qxw.html">QXW</a>, a crossword construction program. It's super cool and I feel like I used about 1% of it, but it really helped in making both this puzzle and Soil Boxes from the third round. Definitely check it out if you ever find yourself needing to create a grid. -JO
</div>
{% endblock solutioncontent %}