{% extends "hunt20/base.html" %}
{% block content %}
    <div id="main">
        <div class="d-flex border-bottom justify-content-between align-items-center p-2" id="puzzletop">
            <div class="" id="titlearea">
                <h1 class="" id="title">
                    Haven't I Seen You Before?
                </h1>
            </div>
        </div>
        <div class="mt-4" id="content">
            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <img src="/static/hunt20/p03/i01.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i02.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i03.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i04.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <img src="/static/hunt20/p03/i05.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i06.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i07.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i08.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <img src="/static/hunt20/p03/i09.png" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i10.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i11.png" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i12.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <img src="/static/hunt20/p03/i13.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i14.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i15.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i16.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <img src="/static/hunt20/p03/i17.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i18.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i19.jpg" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="/static/hunt20/p03/i20.png" class="img-fluid">
                </div>
            </div>
            <hr>
            <div class="mb-2">
                <h4>
                    ?<span class="text-warning">?</span>????
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ???<span class="text-warning">?</span>???
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ????<span class="text-warning">?</span><span class="m-2"></span>???????
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ???????<span class="m-2"></span>?<span class="text-warning">?</span>?
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ????<span class="m-2"></span><span class="text-warning">?</span>???
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ?????<span class="m-2"></span><span class="text-warning">?</span>????
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ??????<span class="text-warning">?</span>?
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ???<span class="m-2"></span>?<span class="text-warning">?</span>?????????
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    ????<span class="text-warning">?</span>??<span class="m-2"></span>???????
                </h4>
            </div>
            <div class="mb-2">
                <h4>
                    <span class="text-warning">?</span>?????-???
                </h4>
            </div>
        </div>
    </div>
{% endblock content %}