{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}
{% block puzzlecontent %}
<div class="flavor">
    I'll keep it short--it looks like some teams have brought some inside help. Even after that, though, they seem to be lacking some heart.
</div>
<div class="row">
    <div class="col-6">
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S1.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S2.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S3.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S4.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S5.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S6.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S7.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S8.png' class='img-fluid'>
        </div>
        <div class="row align-items-center my-2">
            <img src='/static/hunt20/p05/S9.png' class='img-fluid'>
        </div>
    </div>
    <div>
        <div class="col-6">
            <h5>Fool</h5>
            <h5>King</h5>
            <h5>Eccentric</h5>
            <h5>Rise</h5>
            <h5>Tree</h5>
            <h5>Epic</h5>
            <h5>Profession</h5>
            <h5>Feeble</h5>
            <h5>House</h5>
        </div>
    </div>
</div>
{% endblock puzzlecontent %}