{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Every image is a state outline that contains a different state's flag on the interior. Identify the outlines and the flags (the outlines states are in alphabetical order).
</p>
<table class="text-center">
    <thead>
        <th>
            Outline
        </th>
        <th>
            Flag
        </th>
    </thead>
    <tr>
        <td>
            Arkansas
        </td>
        <td>
            Colorado
        </td>
    </tr>
    <tr>
        <td>
            Florida
        </td>
        <td>
            Rhode Island
        </td>
    </tr>
    <tr>
        <td>
            Idaho
        </td>
        <td>
            Lousiana
        </td>
    </tr>
    <tr>
        <td>
            Maine
        </td>
        <td>
            Alabama
        </td>
    </tr>
    <tr>
        <td>
            Mississippi
        </td>
        <td>
            Iowa
        </td>
    </tr>
    <tr>
        <td>
            New York
        </td>
        <td>
            Indiana
        </td>
    </tr>
    <tr>
        <td>
            South Dakota
        </td>
        <td>
            Tennessee
        </td>
    </tr>
    <tr>
        <td>
            Virginia
        </td>
        <td>
            Illinois
        </td>
    </tr>
    <tr>
        <td>
            Wyoming
        </td>
        <td>
            Alaska
        </td>
    </tr>
</table>
<p class="my-4">
    Using the states' two letter abbreviations ("I'll keep it short" from the flavortext), place the interior flag state inside the outer state. This creates a series of 4 letter strings that can be turned into clue answers by adding a letter in the very middle ("still missing some heart"):
</p>
<table class="text-center">
    <tr>
        <td>
            Fool
        </td>
        <td>
            N (I <span class="text-warning">(N)</span> N) Y
        </td>
    </tr>
    <tr>
        <td>
            King
        </td>
        <td>
            M (I <span class="text-warning">(D)</span> A) S
        </td>
    </tr>
    <tr>
        <td>
            Eccentric
        </td>
        <td>
            W (A <span class="text-warning">(C)</span> K) Y
        </td>
    </tr>
    <tr>
        <td>
            Rise
        </td>
        <td>
            S (T <span class="text-warning">(A)</span> N) D
        </td>
    </tr>
    <tr>
        <td>
            Tree
        </td>
        <td>
            M (A <span class="text-warning">(P)</span> L) E
        </td>
    </tr>
    <tr>
        <td>
            Epic
        </td>
        <td>
            I (L <span class="text-warning">(I)</span> A) D
        </td>
    </tr>
    <tr>
        <td>
            Profession
        </td>
        <td>
            A (C <span class="text-warning">(T)</span> O) R
        </td>
    </tr>
    <tr>
        <td>
            Feeble
        </td>
        <td>
            F (R <span class="text-warning">(A)</span> I) L
        </td>
    </tr>
    <tr>
        <td>
            House
        </td>
        <td>
            V (I <span class="text-warning">(L)</span> L) A
        </td>
    </tr>
</table>
<p class="my-4">
    Ordering by original clue order, the middle letters spell ND CAPITAL which clues the answer <span class="text-success h5">BISMARCK</span>.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    There were a couple things we tried to emphasize during puzzle construction for this years' hunt. One of them was thematic answers--it's always nice when you get an answer that is vaguely related to the content or theme of the puzzle. We ended up doing a lot of backwards writing where an answer we needed to use would inspire a puzzle. This type of writing is a different sort of challenge but it's fun! The second was a re-upped commitment to tight puzzles. I think we did a decent job of that this year on the whole with a few exceptions, mostly later in the hunt.
</div>
<div class="flavor">
    We spent a lot of time on the first round puzzles and I'm pretty satisfied with how they turned out on the whole. I think this puzzle is probably the weakest of the bunch, but that's not a big knock. I just really like the others. -JO
</div>
{% endblock solutioncontent %}