{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}

{% block solutioncontent %}
<p>The title, flavor text, and background should point back to the 2019 Carvana Puzzle Hunt. Every mini-puzzle is a rehashing of a puzzle or section of a puzzle from last year--following the same extraction steps on the mini-puzzles yields a letter or letters for every puzzle.</p>
<hr>
<h4>
    Get in Line!
</h4>
<div>IRISH / RISHI --> I</div>
<div>TABLES / ABLEST --> T</div>
<div>Extraction: IT</div>
<hr>
<h4>
    Twisted Paths
</h4>
<p>First, solve the numberlink. Then unscramble the websites and add a letter similar to next year.</p>
<div>1. BLEAC (H) ER REPORT</div>
<div>2. Y (O) UTUBE</div>
<div>3. ZI (L) LOW</div>
<div>4. RE (D) DIT</div>
<div>5. (S) POTIFY</div>
<div>Extraction: HOLDS</div>
<hr>
<h4>
    Mashups
</h4>
<div>The Big Easy A</div>
<div>Heart Dr. J</div>
<div>Estrogen X</div>
<div>Extraction: THE</div>
<hr>
<h4>
    Stranger Things
</h4>
<div>TYKOOPFRYMDYSNGSYMOTHSNG</div>
<div>All vowels are caeser ciphered +10</div>
<div>TO KEEP FROM DOING SOMETHING --> RESTRAIN</div>
<div>Letter different from "STRANGER" anagram is I</div>
<div>I reciphered gives S</div>
<div>Extraction: S</div>
<hr>
<h4>
    Area 51
</h4>
<div>Fleet/Flea --> A</div>
<div>Beets/Bens --> N</div>
<div>Quiet/Quid --> D</div>
<div>Extraction: AND</div>
<hr>
<h4>Overcrowded</h4>
<table class="barcross-sol">
    <tr>
        <td>SO</td>
        <td>A</td>
        <td>K</td>
        <td>S</td>
    </tr>
    <tr>
        <td>F</td>
        <td>L</td>
        <td>I</td>
        <td>P</td>
    </tr>
    <tr>
        <td>I</td>
        <td>O</td>
        <td>T</td>
        <td>A</td>
    </tr>
    <tr>
        <td>A</td>
        <td>FT</td>
        <td>E</td>
        <td>R</td>
    </tr>
</table>
<div>Extraction: SOFT</div>
<hr>
<h4>Pop Music</h4>
<div>Squirt/Cowish --> I</div>
<div>MelloYello/Mysterious --> M</div>
<div>Extraction: IM</div>
<hr>
<h4>Unexpected</h4>
<div>We'd Play All Day With Sally J The Girl From Number Four</div>
<div>Expected word is THR (E) E</div>
<div>Extraction: E</div>
<hr>
<p>The strings all together read: ITHOLDSTHESANDSOFTIME, cluing the answer <span class="h5 text-success">HOURGLASS</span>.</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    Bringin' it back again! At the very end of last year we knew we had to bring the puzzles back in some way this year. This was a relatively easy puzzle to write because we just copied all of the same tricks. We tried SO HARD to get Cats to make a comeback but it was too constrained without reusing GIFs from last year. We'll just have to leave it in our <a class="text-primary" href="https://www.youtube.com/watch?v=KJ_2KOsRI3w">Memory</a>. -KO
</div>
{% endblock solutioncontent %}