{% extends "hunt20/base.html" %}
{% block content %}
    <div id="main">
        <div class="d-flex border-bottom justify-content-between align-items-center p-2" id="puzzletop">
            <div class="" id="titlearea">
                <h1 class="" id="title">
                    Interior Design
                </h1>
            </div>
        </div>
        <div class="mt-4" id="content">
            <div class="flavor">
                I'll keep it short--it looks like some teams have brought some inside help. Even after that, though, they seem to be lacking some heart.
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S1.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S2.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S3.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S4.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S5.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S6.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S7.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S8.png' class='img-fluid'>
            </div>
            <div class="row align-items-center my-2">
                <img src='/static/hunt20/p05/S9.png' class='img-fluid'>
            </div>
        </div>
    </div>
{% endblock content %}