{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Each image is a depiction of an actor's last name. They are in alphabetical order and can be identied as follows:
</p>
<p>Bale / Bang / Bridges / Butler</p>
<p>Clay / Ford / Garfield / Gibson</p>
<p>Gray / Hardy / Holland / Nero</p>
<p>Page / Pine / Shannon / Stamp</p>
<p>Stuart / Waltz / Wayne / West</p>
<p>
    The fact that there are 20 images and 10 sets of questionmarks might suggest pairing. Each of the sets can be filled in with the name of a character that two of these actors played at different times ("the same scripts play out over and over again, just with new faces"). The characters' names are in alphabetical order as well.
</p>
<div class="mb-2">
    B<span class="text-warning">A</span>TMAN (Christian Bale and Adam West)
</div>
<div class="mb-2">
    DRA<span class="text-warning">C</span>ULA (Claes Bang and Gerard Butler)
</div>
<div class="mb-2">
        ERNS<span class="text-warning">T</span> BLOFELD (Charles Gray and Christoph Waltz)
</div>
<div class="mb-2">
    GENERAL Z<span class="text-warning">O</span>D (Michael Shannon and Terrence Stamp)
</div>
<div class="mb-2">
    JACK <span class="text-warning">R</span>YAN (Harrison Ford and Chris Pine)
</div>
<div class="mb-2">
    KITTY <span class="text-warning">P</span>RYDE (Ellen Page and Katie Stuart)
</div>
<div class="mb-2">
    LANCEL<span class="text-warning">O</span>T (Nicholas Clay and Franco Nero)
</div>
<div class="mb-2">
    MAX R<span class="text-warning">O</span>CKATANSKY (Mel Gibson and Tom Hardy)
</div>
<div class="mb-2">
    ROOS<span class="text-warning">T</span>ER COGBURN (Jeff Bridges and John Wayne)
</div>
<div class="mb-2">
    <span class="text-warning">S</span>PIDER-MAN (Andrew Garfield and Tom Holland)
</div>
<p class="my-3">
    The highlighted letters spell out ACTOR POOTS. Solving the clue gives the answer <span class="h5 text-success">IMOGEN</span>.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    I think this puzzle is noticably harder than the others in round 1, and probably harder than a puzzle or two in round 2. By easing into rounds and ending with a bit of challenge, we hoped to enhance the sense of accomplishment upon completion of a round while still making them approachable and break-into-able with some easier puzzles up front.
</div>
<div class="flavor">
    As for the puzzle itself, it ended up being a lot harder to construct than I initially assumed when I thought of the idea. Keeping the character names in alphabetical order at the end was a real pain but necessary to avoid confusion around characters who might go by multiple aliases (do I enter Bruce Wayne or Batman?) or have the same number of letters in their name as another character. I spent a good while looking for an alternative to Kitty Pryde since Katie Stuart isn't very well-known but couldn't make it work. In the end though, I think it's still a nice puzzle and hopefully people enjoyed it! -JO
</div>
{% endblock solutioncontent %}