{% extends "hunt20/puzzles/puzzlebase.html" %}
{% block puzzlecontent %}
<div class="flavor">
    Ah... the opening ceremony of the 2020 puzzlympics is finally here! Everyone is in a jovial mood. Except...
    <br>
    Dr. Freezio sits in a corner, scheming. Summer blocks her one, truest, coldest, ambition. What does she aspire to become?
</div>
<p>
    <table>
        <tr>
            <td>Actress <span class="ml-2"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><small>3</small></td>
            <td><small>1</small></td>
            <td><small>2</small></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</p>
<p>
    <table>
        <tr>
            <td>Daughter of <span class="ml-2"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td><span class="m-1"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
        <tr>
            <td></td>
            <td><small>3</small></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>1</small></td>
            <td></td>
            <td><small>2</small></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</p>
<p>
    <table>
        <tr>
            <td>Similar event to <span class="ml-2"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td><span class="m-1"></span></td>
            <td>_</td>
            <td>_</td>
            <td><span class="m-1"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
        <tr>
            <td></td>
            <td><small>1</small></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>2</small></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>3</small></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</p>
<p>
    <table>
        <tr>
            <td>The first <span class="ml-2"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td><span class="m-1"></span></td>
            <td>_</td>
            <td>_</td>
            <td><span class="m-1"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>3</small></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>2</small></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>1</small></td>
        </tr>
    </table>
</p>
<p>
    <table>
        <tr>
            <td>Used for <span class="ml-2"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td><span class="m-1"></span></td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><small>2</small></td>
            <td></td>
            <td><small>3</small></td>
            <td><small>1</small></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</p>
{% endblock puzzlecontent %}