{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyclass%}puzzlympics{% endblock bodyclass%}
{% block puzzlecontent %}
<div class="flavor">
    The Opening Ceremony is ready to begin! But... Dr. Freezio lurks outside in a nearby intersection. Summer blocks her one, truest, coldest, ambition. What does she aspire to become?
</div>
<div id="metablanks">
    <p>
        <table>
            <tr>
                <td>Actress <span class="ml-2"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td>1</td>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </p>
    <p>
        <table>
            <tr>
                <td>Daughter of <span class="ml-2"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td><span class="m-1"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </p>
    <p>
        <table>
            <tr>
                <td>Similar event to <span class="ml-2"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td><span class="m-1"></span></td>
                <td>_</td>
                <td>_</td>
                <td><span class="m-1"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </p>
    <p>
        <table>
            <tr>
                <td>The first <span class="ml-2"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td><span class="m-1"></span></td>
                <td>_</td>
                <td>_</td>
                <td><span class="m-1"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
            </tr>
        </table>
    </p>
    <p>
        <table>
            <tr>
                <td>Used for <span class="ml-2"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td><span class="m-1"></span></td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
                <td></td>
                <td>3</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </p>
</div>
<br>
<small>Note: this is a metapuzzle. You will need to use the answers from the other puzzles in this round to solve this puzzle.</small>
{% endblock puzzlecontent %}