{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}snowflake{%endblock bodyst%}
{% block puzzlecontent %}
<div class="flavor">
    Dr. Freezio could have gone anywhere in the world! Regardless, her heist had a lot of factors to it...
</div>
<div id="math">
    <div class="row my-2">
        <div class="col-10">
            e<sup>3</sup> l<sup>3</sup> o t v<sup>2</sup> - i l o t<sup>2</sup> v + e<sup>3</sup> j l<sup>2</sup> s u v - i j s t u
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-10">
            a h i l r u<sup>2</sup> + e h i<sup>2</sup> r s u - a<sup>2</sup> b l u t - a b e i s t
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-10">
            e<sup>4</sup> f i l n v<sup>2</sup> - e f i<sup>2</sup> s v x - e<sup>3</sup> l n o t v w + i o s t w x
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-10">
            a f<sup>2</sup> g i n<sup>2</sup> ü z<sup>2</sup> - e f<sup>3</sup> l n ü - a d e g i<sup>2</sup> n r w z<sup>2</sup> - d e<sup>2</sup> f i l r
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-10">
            d i<sup>2</sup> o r s t x - d<sup>2</sup> e i u x<sup>2</sup> - e f i n o r s t + d e<sup>2</sup> f n u<sup>2</sup> x
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-10">
            c e<sup>2</sup> h n o<sup>2</sup> u v - c d h o<sup>3</sup> s - e<sup>4</sup> i n s t u v + d e<sup>2</sup> i o s<sup>2</sup> t
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-10">
            c<sup>2</sup> e h<sup>3</sup> t w<sup>2</sup> y - h m p<sup>2</sup> t u w y - c<sup>2</sup> e h<sup>2</sup> i r t w + i m p<sup>2</sup> r t u
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border px-2">?</span>
        </div>
    </div>
</div>
{% endblock puzzlecontent %}