{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}snowflake{%endblock bodyst%}
{% block puzzlecontent %}
<div class="flavor">
    There were a lot of factors that went into Dr. Freezio's heist
</div> 
<div class="math">
    <div class="row my-1">
        <div class="col-10">
            <h6>
                e<sup>4</sup> l m n o t<sup>2</sup> - a b d e<sup>2</sup> l<sup>2</sup> n o<sup>3</sup> r t - e<sup>4</sup> l m<sup>2</sup> n s t u + a b d e<sup>2</sup> l<sup>2</sup> m n o<sup>2</sup> r s u
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-10">
            <h6>
                a<sup>2</sup> e<sup>2</sup> l n<sup>2</sup> o p s<sup>2</sup> t + a e<sup>2</sup>  f i<sup>3</sup> l n<sup>4</sup> o p s t<sup>3</sup> y - a d e g i k m n<sup>2</sup> o<sup>2</sup> s<sup>2</sup> - d e f g i<sup>4</sup> k m n<sup>4</sup> o<sup>2</sup> s t<sup>2</sup> y
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-10">
            <h6>
                a c d e<sup>4</sup> f h<sup>2</sup> m<sup>2</sup> n<sup>4</sup> r t - c e<sup>2</sup> f h<sup>3</sup> n<sup>2</sup> o r<sup>2</sup> u + a d<sup>2</sup> e<sup>4</sup> l m<sup>2</sup> n<sup>2</sup> o r t<sup>3</sup> u v - d e<sup>2</sup> h l o<sup>2</sup> r<sup>2</sup> t<sup>2</sup> u<sup>2</sup> v
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-10">
            <h6>
                a c<sup>2</sup> d l n o<sup>2</sup> r y  - a<sup>2</sup> b c d e<sup>2</sup> l r t - a c e l n o<sup>2</sup> s t<sup>2</sup> y + a<sup>2</sup> b e<sup>3</sup> l s t<sup>3</sup>
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-10">
            <h6>
                b<sup>2</sup> c e<sup>3</sup> f l o r t<sup>2</sup> u y - b<sup>2</sup> e<sup>5</sup> k l m r s t<sup>3</sup> u<sup>2</sup> y - c e<sup>2</sup> f g o<sup>3</sup> r s t + e<sup>4</sup> g k m o<sup>2</sup> r s<sup>2</sup> t<sup>2</sup> u
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-10">
            <h6>
                a b d e<sup>2</sup> h i m n o t<sup>3</sup> u - a<sup>3</sup> b d e<sup>4</sup> g<sup>2</sup> i l<sup>2</sup> n o t<sup>2</sup> u<sup>2</sup> v - a d<sup>2</sup> e h i l m n<sup>2</sup> o s t y + a<sup>3</sup> d<sup>2</sup> e<sup>3</sup> g<sup>2</sup> i l<sup>3</sup> n<sup>2</sup> o s u v y
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-10">
            <h6>
                a<sup>3</sup> e<sup>3</sup> g h k l m n o r<sup>2</sup> s t - a e<sup>2</sup> f g h i m n<sup>2</sup> o r<sup>2</sup> s - a<sup>2</sup> e<sup>4</sup> g k l n r s<sup>2</sup> t + e<sup>3</sup> f g i n<sup>2</sup> r s<sup>2</sup>            
            </h6>
        </div>
        <div class="col-1">
            =
        </div>
        <div class="col-1">
            <span class="border p-1"> ? </span>
        </div>
    </div>

</div>


{% endblock puzzlecontent %}