{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}snowflake{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Each of the 4-piece equations can be factored into two binomials that are multiplied together. The ordering of terms follows the FOIL method from algebra (firsts, outers, inners, lasts).
</p>
<p>
    The terms of the binomials can be anagrammed to form numbers in various languages that have been spelled out. Solve the equation by subtracting, adding, and multiplying the numbers as normal, then convert the resulting number to a letter using 1=A, 2=B, etc.
</p>
<div id="math">
    <div>
        Norwegian: ( tolv + sju )( elleve - ti ) = ( 12 + 7 )( 10 - 9 ) = 19 --> S
    </div>
    <div>
        Basque: ( hiru - bat )( lau - sei ) = ( 3 - 1 ) (4 + 6 ) = 20 --> T
    </div>
    <div>
        English: ( five - two )( eleven - six ) = ( 5 - 2 )( 11 - 6 ) = 13 --> O
    </div>
    <div>
        German: ( fünf - drei )( zwanzig - elf ) = ( 5 - 3 )( 20 - 9 ) = 18 --> R
    </div>
    <div>
        French: ( dix - neuf )( trois - deux ) = ( 10 - 9 )( 3 - 2 ) = 1 --> A
    </div>
    <div>
        Spanish: ( ocho - siete )( nueve - dos ) = ( 8 - 7 )( 9 - 2 ) = 7 --> G
    </div>
    <div>
        Welsh: ( chwech - pump )( wyth - tri ) = ( 6 - 5 )( 8 - 3 ) = 5 --> E
    </div>
</div>
<p class="my-3">
    The letters spell the answer <span class="h5 text-success">STORAGE</span>.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    This puzzle was written almost solely to create the round 1-2-3 progression of Royal/FOIL/Soil Boxes (well, I also wanted a math puzzle). The puzzle was originally created with different things anagrammed--as opposed to spelled-out numbers, the original puzzle had words that were associated with numbers: ( musketeers - turtledoves ) = ( 3 - 2 ), for example. That had some issues with factoring and also was a bit harder than intended for a puzzle that might already seem a bit intimidating. -JO
</div>
{% endblock solutioncontent %}