{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}snowflake{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    The staf sergeant's instructions form the first half of the puzzle. The title and description of the object being ascended should bring to mind a musical staff. Using bass clef ("conquering the bass (base) is your mission"), the staff's notes, with clues and corresponding answers, looks like:
</p>
<div>A : ----(skip)-----------------------</div>
<div>G : Make like the tower in Pisa (LEAN)</div>
<div>F : ----Sake substitute (MIRIN)----</div>
<div>E : Red root veggie (BEET)</div>
<div>D : ----Nation's Capital (DC)------</div>
<div>C : Top fighter pilot (ACE)</div>
<div>B : ----(skip)-----------------------</div>
<div>A : Army level (RANK)</div>
<div>G : ----(skip)-----------------------</div>
<p class="my-3">
    The second half of the puzzle comes from the flute line repeating in the background. It's notes are EGGEDCFEAFDAAEFGCAGFFC. There are 22 notes in the loop, 22 total letters in the answers. More interstingly, there are 4 As in the loop and the answer on the staff A (RANK) has 4 letters. This pattern holds for all the notes. Read the final clue phrase by placing the clue answers over their notes, left to right, and reading the entire musical phrase.
</p>
<table>
    <tr>
        <td>E</td>
        <td>G</td>
        <td>G</td>
        <td>E</td>
        <td>D</td>
        <td>C</td>
        <td>F</td>
        <td>E</td>
        <td>A</td>
        <td>F</td>
        <td>D</td>
        <td>A</td>
        <td>A</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>C</td>
        <td>A</td>
        <td>G</td>
        <td>F</td>
        <td>F</td>
        <td>C</td>
    </tr>
    <tr>
        <td></td>
        <td>L</td>
        <td>E</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>A</td>
        <td></td>
        <td></td>
        <td>N</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>M</td>
        <td></td>
        <td></td>
        <td>I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>R</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>I</td>
        <td>N</td>
        <td></td>
    </tr>
    <tr>
        <td>B</td>
        <td></td>
        <td></td>
        <td>E</td>
        <td></td>
        <td></td>
        <td></td>
        <td>E</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>T</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>D</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>C</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>A</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>C</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>E</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>R</td>
        <td></td>
        <td></td>
        <td>A</td>
        <td>N</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>K</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<p class="my-3">
    BLEED AMERICAN TRACK NINE clues the ninth song off of Jimmy Eat World's album <em>Bleed American</em>. That song is <span class="h5 text-success">CAUTIONERS</span>.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    This is my favorite puzzle this year and it makes me a little bummed that no one solved it without taking any hints. I feel like I failed it a little bit... I think there are two things that we could have done differently. We could have added flavor text to clue the background music (which is where most teams got stuck), but we didn't exactly know how to clue it subtly. Another option is we could have had the tune play by itself before my voice came in, hopefully that would have clued that it's important. Anyways, it's still my favorite! -KO
</div>
{% endblock solutioncontent %}
