{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}snowflake{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    The puzzle has 6 clues but 12 answer spots. This, along with "Crossover" in the title should hint that there are two answers per clue. The clues hint at video games and each clue can be answered from the perspective of either Minecraft or Animal Crossing: New Horizons. The answers are (Minecraft/ACNH):
</p>
<div class="row my-2">
    <div class="col-12">
        <div>Currency used to buy items in-game (singular) - EMERALD / BELL</div>
        <div>Game developer company - MOJANG STUDIOS / NINTENDO</div>
        <div>Object you use to craft new tools - CRAFTING TABLE / DIY WORKBENCH</div>
        <div>Plant that grows in sand - CACTUS / COCONUT TREE</div>
        <div>Very common ocean fish - TROPICAL / SEA BASS</div>
        <div>You need an odd number of this item to craft the most basic fishing rod (singular) - STICK / TREE BRANCH</div>
    </div>
</div>
<p class="my-3">
    The answers can be arranged in the grid with ACNH answers running vertically and Minecraft answers running horizontally.
</p>
<div class="row">
    <table class="freecross">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">T</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">D</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="cell">C</td>
            <td class="cell">R</td>
            <td class="cell">A</td>
            <td class="cell">F</td>
            <td class="cell">T</td>
            <td class="cell">I</td>
            <td class="cell">N</td>
            <td class="cell">G</td>
            <td class="cell">T</td>
            <td class="cell">A</td>
            <td class="cell">B</td>
            <td class="cell">L</td>
            <td class="cell">E</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">Y</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">W</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">L</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">B</td>
            <td></td>
            <td class="cell">T</td>
            <td class="cell">R</td>
            <td class="cell">O</td>
            <td class="cell">P</td>
            <td class="cell">I</td>
            <td class="cell">C</td>
            <td class="cell">A</td>
            <td class="cell">L</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">R</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">R</td>
            <td></td>
            <td></td>
            <td class="cell">O</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">A</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">K</td>
            <td></td>
            <td></td>
            <td class="cell">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">N</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">B</td>
            <td></td>
            <td></td>
            <td class="cell">O</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td></td>
            <td class="cell">N</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="cell">N</td>
            <td></td>
            <td class="cell">H</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">N</td>
            <td></td>
            <td></td>
            <td class="cell">U</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="cell">I</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">C</td>
            <td class="cell">A</td>
            <td class="cell">C</td>
            <td class="cell">T</td>
            <td class="cell">U</td>
            <td class="cell">S</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="cell">N</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">H</td>
            <td></td>
            <td></td>
            <td class="cell">T</td>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell">S</td>
            <td class="cell">T</td>
            <td class="cell">I</td>
            <td class="cell">C</td>
            <td class="cell">K</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">R</td>
            <td></td>
            <td class="cell">A</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">E</td>
            <td></td>
            <td class="cell">B</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="cell">N</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">E</td>
            <td class="cell">M</td>
            <td class="cell">E</td>
            <td class="cell">R</td>
            <td class="cell">A</td>
            <td class="cell">L</td>
            <td class="cell">D</td>
        </tr>
        <tr>
            <td></td>
            <td class="cell">D</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">S</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell">M</td>
            <td class="cell">O</td>
            <td class="cell">J</td>
            <td class="cell">A</td>
            <td class="cell">N</td>
            <td class="cell">G</td>
            <td class="cell">S</td>
            <td class="cell">T</td>
            <td class="cell">U</td>
            <td class="cell">D</td>
            <td class="cell">I</td>
            <td class="cell">O</td>
            <td class="cell">S</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<p class="my-3">
    The numbered cells spell out WHAT MOST NPCS ARE NINE LETTERS. The best way to answer this clue from the perspective of both games is <span class="h5 text-success">VILLAGERS</span>.
</p>
<div class="flavor">
    Like many people, I've been playing a lot of Animal Crossing over the past few months. In fact, I've paid off my house and now spend my time trying to fill out my museum, visiting random islands, and longing for Redd to come back... But there I go again, prattling on about my personal gaming habits.
</div>
<div class="flavor">
    This is a crossover puzzle between video games that both involve crafting (hence the title). Some people struggled with one game or the other but it was pretty balanced between the two which worked out well! People really seemed to like this one, and it was a nice way to break into round two. It went through a LOT of iterations but that made the final product a lot better. -KO
</div>
{% endblock solutioncontent %}