{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}snowflake{%endblock bodyst%}
{% block puzzlecontent %}
<div class="flavor">
    Flavor text is the key to this puzzle. Bon appetit!
</div>
<div>
    <img src="/static/hunt20/p10/PHATSGP_1.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_2.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_3.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_4.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_5.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_6.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_7.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_8.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_9.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_10.png" class="img-fluid bg-secondary">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_11.png" class="img-fluid bg-secondary">
</div>
{% endblock puzzlecontent %}