{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}snowflake{%endblock bodyst%}
{% block puzzlecontent %}
<div class="flavor">
    Flavor text is the key to this puzzle. Bon appetit!
</div>
<div>
    <img src="/static/hunt20/p10/PHATSGP_1w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_2w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_3w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_4w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_5w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_6w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_7w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_8w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_9w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_10w.png" class="img-fluid">
</div>
<hr>
<div>
    <img src="/static/hunt20/p10/PHATSGP_11w.png" class="img-fluid">
</div>
{% endblock puzzlecontent %}