{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}snowflake{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    This puzzle is a classic ISIS (identify, sort, index, solve) puzzle but with a little twist. It should be obvious from the get-go that these are all flavors of some sort. While Ben & Jerry's might be easy to get, some of the others are a little more difficult. The title and flavor alludes to Gourmet Makes, a YouTube series from the Bon Appetit test kitchen. Every title of the series is of the form "Pastry Chef Attempts to Make Gourmet X", where X is a namebrand snackfood or candy.
</p>
<p>
    All of the brands clued by flavors below have appeared as episodes of Gourmet Makes. They're presented in alphabetical order. Index into the brand with the number.
</p>
<div>Cherry Garcia, Chunky Monkey, Phish Food --> Ben & Jerry's (3) - N</div>
<div>Flamin' Hot, Paprika Spinners, Paws --> Cheetos (1) - C</div>
<div>Lemonade, Samoa, Thin Mint --> Girl Scout Cookies (1) - G</div>
<div>Beni Imo, Rum Raisin, White --> Kit Kats (1) - K</div>
<div>Cola, Currant, Lemon Yogurt --> Mentos (4) - T</div>
<div>Bunny, Chick, Christmas Tree --> Peeps (2) - E</div>
<div>Macaroni and Cheese, Pepperoni, Triple Meat --> Pizza Rolls (2) - I</div>
<div>Canteloupe, Milk, Trinity Orange Peel --> Pocky (3) - C</div>
<div>All Dressed, Chedder and Sour Cream, Sour Cream and Onion --> Ruffles (2) - U</div>
<div>Glo Balls, Hoppers, Lucky Puffs --> Sno Balls (5) - A</div>
<div>Angry Burger, Lava, Nitro --> Takis (1) - T</div>
<p class="my-3">
    Sorting the extracted letters by episode air date gives <span class="h5 text-success">CAKE CUTTING</span>, the answer to the puzzle.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    Well this one is also something I've been getting into over the past little bit. If you have some time, this is a great YouTube series. I also really enjoyed making all of the pictures. Some really funny ones didn't make it in due to extraction constraints but rest assured "Screamin' Dill" was hilarious. -KO
</div>
{% endblock solutioncontent %}