{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}snowflake{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Each tale describes an episode of SpongeBob SquarePants from the perspective of a character in the episode. The episodes are clued in alphabetical order. Each tale also has a clue at the end of it that clues the name of another episode in the list.
</p>
<p>
    Each tale also contains a number in it--a number that is incorrect and exaggerated. Figure out how much each narrator is stretching the truth by and index into their name.
</p>
<table class="table">
    <thead>
        <th>Character</th>
        <th>Episode</th>
        <th>Tailing Clue</th>
        <th>Clued Episode</th>
        <th>Number</th>
        <th>Real</th>
        <th>Stretch</th>
        <th>Letter</th>
    </thead>
    <tr>
        <td>Squilliam</td>
        <td>Band Geeks</td>
        <td>Skipping School</td>
        <td>Hooky</td>
        <td>7</td>
        <td>4</td>
        <td>3</td>
        <td>U</td>
    </tr>
    <tr>
        <td>Pearl</td>
        <td>Bossy Boots</td>
        <td>Play Some Games On Deck</td>
        <td>Shuffleboarding</td>
        <td>4</td>
        <td>2</td>
        <td>2</td>
        <td>E</td>
    </tr>
    <tr>
        <td>Plankton</td>
        <td>F.U.N.</td>
        <td>Work Overnight</td>
        <td>Graveyard Shift</td>
        <td>10</td>
        <td>3</td>
        <td>7</td>
        <td>O</td>
    </tr>
    <tr>
        <td>Squidward</td>
        <td>Graveyard Shift</td>
        <td>What The Barometer Tells Me</td>
        <td>Pressure</td>
        <td>9</td>
        <td>8</td>
        <td>1</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Spongebob</td>
        <td>Help Wanted</td>
        <td>Aggressive Footwear</td>
        <td>Bossy Boots</td>
        <td>5</td>
        <td>1</td>
        <td>4</td>
        <td>N</td>
    </tr>
    <tr>
        <td>Mr. Krabs</td>
        <td>Hooky</td>
        <td>Job Posting</td>
        <td>Help Wanted</td>
        <td>7</td>
        <td>1</td>
        <td>6</td>
        <td>B</td>
    </tr>
    <tr>
        <td>Sandy</td>
        <td>Pressure</td>
        <td>Music Nerds</td>
        <td>Band Geeks</td>
        <td>5</td>
        <td>4</td>
        <td>1</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Mermaid Man</td>
        <td>Shuffleboarding</td>
        <td>Aim and Ignite/Some Nights</td>
        <td>Fun.</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td>M</td>
    </tr>
</table>
<p class="my-3">
    The episodes can be ordered into a closed loop by connecting the tailing epsiode to a described epsidode. Starting with Help Wanted, the first episode ever, the extracted letters spell NEMOS SUB. Captain Nemo's sub, the <span class="h5 text-success">NAUTLIUS</span>, is the answer to the puzzle.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    I grew up a big SpongeBob fan so I've always wanted to write a puzzle based on the source material. When we needed an answer of NAUTICAL/NAUTILUS I knew it was a great chance. The title is also a reference to a SpongeBob DVD collection, by the way.
</div>
<div class="flavor">
    I think round 2 is an interesting study. I think it has a lot of individually good puzzles in it, but taken all together they all require a lot of outside googling. Not that's it's a bad thing--round 1 and round 3 are somewhat self-contained when it comes to outside references so it all balances out in the end--but I think if we could do it over though we'd spread them out a little bit more. -JO
</div>
{% endblock solutioncontent %}