{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}snowflake{%endblock bodyst%}
{% block puzzlecontent %}
<div class="flavor">
    You find some sprinters down by the track. "It's not always the straightest path to victory," one says. "But you have to keep moving forward. And there always seems to be a stumble that will get you at the least expected time."
</div>
<p>All the races are run counterclockwise and the full track is 400 m long</p>
<div class="row my-4">
    <div class="col-3">
        <h5><u>400 m dashes</u></h5>
        <div>- Film with a Mount</div>
        <div>- Mystery cook</div>
    </div>
    <div class="col-4">
        <h5><u>200 m dashes</u></h5>
        <div>- Gets rival</div>
        <div>- It has millions of voles</div>
        <div>- It's polite to give up your snot here</div>
        <div>- Place to trade shards</div>
        <div>- Plans how to steal the bell</div>
        <div>- They have a lot of planks</div>
    </div>
    <div class="col-5">
        <h5><u>100 m dashes</u></h5>
        <div>- Baron's idol</div>
        <div>- Bikini accessories</div>
        <div>- Burped at Glastonbury Abbey</div>
        <div>- Dual experience</div>
        <div>- Former SQL star</div>
        <div>- Found near a jet</div>
        <div>- It makes you contribute money to the FSA</div>
        <div>- It might be hired</div>
        <div>- Oiled up</div>
        <div>- Rate for a castle</div>
    </div>
</div>
<div class="row">
    <img src='/static/hunt20/p12/track_2.png' class='img-fluid'>
</div>
{% endblock puzzlecontent %}