{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}snowflake{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Each of the answers contains either Au, Ag, or Cu, the chemical symbols on the periodic table ("tabled" from the flavor text) for gold, silver, and copper (the main component of bronze). Take the either the first, second, or third place letter from these answers accordingly and order by answer length (6-11):
</p>
<div>
    MI<span class="h5 text-success">S</span><span class="text-warning">CU</span>E
</div>
<div>
    S<span class="h5 text-success">T</span>OR<span class="text-warning">AG</span>E
</div>
<div>
    <span class="h5 text-success">N</span><span class="text-warning">AU</span>TILUS
</div>
<div>
    V<span class="h5 text-success">I</span>LL<span class="text-warning">AG</span>ERS
</div>
<div>
    <span class="h5 text-success">C</span><span class="text-warning">AU</span>TIONERS
</div>
<div>
    CA<span class="h5 text-success">K</span>E <span class="text-warning">CU</span>TTING
</div>
<p class="my-3">
    <span class="text-success h5">ST NICK</span> is the answer.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    This was originally planned for the first round meta but got moved here decently early in scoping the hunt. We wanted to try at least one pure meta in the hunt after having two shells last year. 
</div>
<div class="flavor">
    One thing we learned this year in general was to watch our flavor text extremely closely on metas. Here I moved a ton of the story into the round flavor and people still found unintended connections in "helped to pull this off". Next year we'll try to focus on this. Baby steps as puzzle creators! -JO
</div>
{% endblock solutioncontent %}