{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}northpole{%endblock bodyst%}

{% block puzzlecontent %}
<div class="flavor">
    We'll need supplies. I can't seem to remember what I planted in my soil boxes, but maybe you can help!
</div>
<p class="my-3">
    I know where everything is in this one! There are two vegetables in this box.
</p>
<div class="row">
    <div class="col-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c">A</td>
                <td class="c">B</td>
                <td class="c">C</td>
                <td class="c">D</td>
                <td class="c">E</td>
            </tr>
            <tr>
                <td class="c">1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">11</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">12</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">13</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">14</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">15</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-4">
        <h4>Rows</h4>
        <div>1. You can play them</div>
        <div>2. Resin-based glue</div>
        <div>3. More uncommon</div>
        <div>4. Frat member practicing cat-cow?</div>
        <div>5. Mountain range in BC, Canada</div>
        <div>6. From around here</div>
        <div>7. Protagonist from a 1995 time-travel game</div>
        <div>8. Moved a customer to a different table</div>
        <div>9. Scottish widow's stipend</div>
        <div>10. John or Bruce</div>
        <div>11. Driver created by Lars Pensjö</div>
        <div>12. Moves past</div>
        <div>13. Knife brand</div>
        <div>14. Prepared to play a hand</div>
        <div>15. Attention-grabbing sounds</div>
    </div>
    <div class="col-5">
        <h4>Columns</h4>
        <div>A. Hamster's cousin // Moves along slowly // Clothing brand</div>
        <div>B. Separate // Raw metal // They might accompany a messy meal</div>
        <div>C. Casablanca setting // Mets and Jets network // They might accompany a garlic-y meal</div>
        <div>D. Common file extension // Ivory coast neighbor // What could happen when a 16-seed plays a 1-seed (2 wd)</div>
        <div>E. The Euphrates divides it // Divvied // Found in a bath</div>
    </div>
</div>
<p class="my-3">
    Hmmm... I can't recall which column is which here. I do know there is one herb and one vegetable here, though!
</p>
<div class="row">
    <div class="col-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
            </tr>
            <tr>
                <td class="c">1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">11</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">12</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">13</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">14</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c">15</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-4">
        <h4>Rows</h4>
        <div>1. Mulled wine</div>
        <div>2. Type of monestary</div>
        <div>3. Rapper Vann</div>
        <div>4. Fathered an animal</div>
        <div>5. Hair or nail</div>
        <div>6. Forced worker</div>
        <div>7. Trail off</div>
        <div>8. Abstract illusions (2 wd)</div>
        <div>9. South Dakota city or Scottish mountain</div>
        <div>10. Kitchenwear?</div>
        <div>11. Homework helper</div>
        <div>12. Egpytian for "be at peace"</div>
        <div>13. Record of a year</div>
        <div>14. Iberian river</div>
        <div>15. Like a creative type</div>
    </div>
    <div class="col-5">
        <h4>Columns</h4>
        <div>- Child-eating monster // Drink like a dog (2 wd) // Show respect to</div>
        <div>- Chinese appliance company // Finished // Marks a page</div>
        <div>- Drink holder // Internal organ // Scientist Lovelace</div>
        <div>- Mason creator // Half of a grill tool // Scheme</div>
        <div>- Partially coincide // French "stop" // Acorn or pistachio</div>
    </div>

</div>
<p class="my-3">
    This one I can't remember the rows, silly me. It also has one herb and one vegetable.
</p>
<div class="row">
    <div class="col-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c">A</td>
                <td class="c">B</td>
                <td class="c">C</td>
                <td class="c">D</td>
                <td class="c">E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-4">
        <h4>Rows</h4>
        <div>- Capital of a country in Soilbox #1</div>
        <div>- Challenges</div>
        <div>- Chef on "The Sopranos"</div>
        <div>- Cinch up again</div>
        <div>- Data packets</div>
        <div>- Indian term of respect</div>
        <div>- Lady and the _____</div>
        <div>- One of the senses</div>
        <div>- Picture within a picture</div>
        <div>- Rhythmic shout</div>
        <div>- Sleepy</div>
        <div>- Storage structures</div>
        <div>- There are three of them in this answer</div>
        <div>- Without company</div>
        <div>- Woke up</div>
    </div>
    <div class="col-5">
    <h4>Columns</h4>
        <div>A. One who enjoys others' suffering // Opportunity for a hitter (2 wd) // Land unit</div>
        <div>B. Composer Menken // Musical Styles // Wealth</div>
        <div>C. Derby racer // Rotary system component // Puzzle from the 2019 Carvana Puzzle Hunt</div>
        <div>D. "_____ a drink!" (2 wd) // Multiplication // Carvana executive</div>
        <div>E. Better than better // Flow through a crack // Knocks out</div>
    </div>  
</div>
<p class="my-3">
    Uh, I've got no clue here, hopefully you can figure it out... I did plant two things here though.
</p>
<div class="row">
    <div class="col-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-4">
        <h4>Rows</h4>
        <div>- Alaska or Hawaii</div>
        <div>- Carribbean sorcery</div>
        <div>- Chest</div>
        <div>- Church recesses</div>
        <div>- Detective Nero</div>
        <div>- Eight musicians</div>
        <div>- Farm buildings</div>
        <div>- French city near the Belgian border</div>
        <div>- Key battle in the Texas revolution</div>
        <div>- Laughing creature</div>
        <div>- Mary Tyler Moore spinoff</div>
        <div>- Pressure units</div>
        <div>- Sum</div>
        <div>- Supply data</div>
        <div>- Woodwinds</div>
    </div>
    <div class="col-5">
    <h4>Columns</h4>
        <div>- "Love _____" (Beyonce song) (2 wd)// Dust storm common in Phoenix // Be sickeningly sweet</div>
        <div>- Car, in brief // Incredible's Mode // Golden-voiced actor</div>
        <div>-  One thing in a cart // They might drape over shoulders // Toga counterpart</div>
        <div>- Revoke a lawyer's creds // Greet with respect (2 wd) // Curse</div>
        <div>- Tropical Asiasn tree // Canadian shoe brand // Turn</div>
    </div>  
</div>


{% endblock puzzlecontent %}