{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}northpole{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Each of the soilboxes can be filled in by solving the clues and performing a little arranging when needed. Each of the boxes has 2 things planted in it--they can be read in a square.
</p>
<div class="row">
    <div class="col-lg-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>G</td>
                <td>A</td>
                <td>M</td>
                <td>E</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>E</td>
                <td>P</td>
                <td>O</td>
                <td>X</td>
                <td>Y</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>R</td>
                <td>A</td>
                <td>R</td>
                <td>E</td>
                <td>R</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td class="bg-primary">B</td>
                <td class="bg-primary">R</td>
                <td class="bg-primary">O</td>
                <td>G</td>
                <td>I</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td class="bg-primary">I</td>
                <td>T</td>
                <td class="bg-primary">C</td>
                <td>H</td>
                <td>A</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td class="bg-primary">L</td>
                <td class="bg-primary">O</td>
                <td class="bg-primary">C</td>
                <td>A</td>
                <td>L</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>C</td>
                <td>R</td>
                <td>O</td>
                <td>N</td>
                <td>O</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>R</td>
                <td>E</td>
                <td>S</td>
                <td>A</td>
                <td>T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>N</td>
                <td>N</td>
                <td>A</td>
                <td>T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>W</td>
                <td>A</td>
                <td>Y</td>
                <td>N</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>L</td>
                <td class="bg-primary">P</td>
                <td class="bg-primary">M</td>
                <td class="bg-primary">U</td>
                <td>D</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>S</td>
                <td class="bg-primary">K</td>
                <td>I</td>
                <td class="bg-primary">P</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>G</td>
                <td class="bg-primary">I</td>
                <td class="bg-primary">N</td>
                <td class="bg-primary">S</td>
                <td>U</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>N</td>
                <td>T</td>
                <td>E</td>
                <td>D</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>P</td>
                <td>S</td>
                <td>S</td>
                <td>T</td>
                <td>S</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>G</td>
                <td>L</td>
                <td>O</td>
                <td>G</td>
                <td>G</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>L</td>
                <td>A</td>
                <td>V</td>
                <td>R</td>
                <td>A</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>M</td>
                <td>E</td>
                <td>E</td>
                <td>R</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>S</td>
                <td>I</td>
                <td class="bg-primary">R</td>
                <td class="bg-primary">E</td>
                <td class="bg-primary">D</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>S</td>
                <td>A</td>
                <td class="bg-primary">L</td>
                <td>O</td>
                <td class="bg-primary">N</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>S</td>
                <td>L</td>
                <td class="bg-primary">A</td>
                <td class="bg-primary">V</td>
                <td class="bg-primary">E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>T</td>
                <td>A</td>
                <td>P</td>
                <td>E</td>
                <td>R</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>O</td>
                <td>P</td>
                <td>A</td>
                <td>R</td>
                <td>T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>M</td>
                <td>U</td>
                <td>R</td>
                <td>D</td>
                <td>O</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>P</td>
                <td>R</td>
                <td>O</td>
                <td>N</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>C</td>
                <td>H</td>
                <td class="bg-primary">E</td>
                <td class="bg-primary">G</td>
                <td class="bg-primary">G</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>H</td>
                <td>O</td>
                <td class="bg-primary">T</td>
                <td>E</td>
                <td class="bg-primary">P</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>N</td>
                <td class="bg-primary">N</td>
                <td class="bg-primary">A</td>
                <td class="bg-primary">L</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>D</td>
                <td>O</td>
                <td>U</td>
                <td>R</td>
                <td>O</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>R</td>
                <td>T</td>
                <td>S</td>
                <td>Y</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>S</td>
                <td>A</td>
                <td>H</td>
                <td>I</td>
                <td>B</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>L</td>
                <td>O</td>
                <td>N</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td class="bg-primary">D</td>
                <td class="bg-primary">A</td>
                <td class="bg-primary">R</td>
                <td>E</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td class="bg-primary">I</td>
                <td>N</td>
                <td class="bg-primary">S</td>
                <td>E</td>
                <td>T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td class="bg-primary">S</td>
                <td class="bg-primary">H</td>
                <td class="bg-primary">E</td>
                <td>D</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>T</td>
                <td>A</td>
                <td>S</td>
                <td>T</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>R</td>
                <td>T</td>
                <td>I</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>T</td>
                <td class="bg-primary">R</td>
                <td class="bg-primary">A</td>
                <td class="bg-primary">M</td>
                <td>P</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>B</td>
                <td class="bg-primary">Y</td>
                <td>T</td>
                <td class="bg-primary">E</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td class="bg-primary">R</td>
                <td class="bg-primary">O</td>
                <td class="bg-primary">S</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>T</td>
                <td>I</td>
                <td>R</td>
                <td>E</td>
                <td>D</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>C</td>
                <td>C</td>
                <td>R</td>
                <td>A</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>C</td>
                <td>H</td>
                <td>A</td>
                <td>N</td>
                <td>T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>R</td>
                <td>E</td>
                <td>T</td>
                <td>I</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>E</td>
                <td>S</td>
                <td>S</td>
                <td>E</td>
                <td>S</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3">
        <table class="soilbox">
            <tr>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
                <td class="c"></td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>D</td>
                <td>O</td>
                <td>U</td>
                <td>A</td>
                <td>I</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>I</td>
                <td>N</td>
                <td>P</td>
                <td>U</td>
                <td>T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>S</td>
                <td class="bg-primary">T</td>
                <td class="bg-primary">A</td>
                <td class="bg-primary">T</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>B</td>
                <td class="bg-primary">O</td>
                <td>S</td>
                <td class="bg-primary">O</td>
                <td>M</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td class="bg-primary">P</td>
                <td class="bg-primary">S</td>
                <td class="bg-primary">E</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>R</td>
                <td>H</td>
                <td>O</td>
                <td>D</td>
                <td>A</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>B</td>
                <td>A</td>
                <td>R</td>
                <td>N</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>O</td>
                <td>B</td>
                <td>E</td>
                <td>A</td>
                <td>H</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>W</td>
                <td>O</td>
                <td>L</td>
                <td>F</td>
                <td>E</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>T</td>
                <td>O</td>
                <td>R</td>
                <td>R</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>O</td>
                <td>B</td>
                <td class="bg-primary">O</td>
                <td class="bg-primary">E</td>
                <td class="bg-primary">S</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>O</td>
                <td>C</td>
                <td class="bg-primary">T</td>
                <td>E</td>
                <td class="bg-primary">T</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>A</td>
                <td>L</td>
                <td class="bg-primary">A</td>
                <td class="bg-primary">M</td>
                <td class="bg-primary">O</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>T</td>
                <td>O</td>
                <td>T</td>
                <td>A</td>
                <td>L</td>
            </tr>
            <tr>
                <td class="c"></td>
                <td>H</td>
                <td>Y</td>
                <td>E</td>
                <td>N</td>
                <td>A</td>
            </tr>
        </table>
    </div>
</div>
<p class="my-3">
    The planted items each have a letter in the middle. Sorting by item alphabetically:
</p>
<div>
    BROCCOLI - T
</div>
<div>
    EGGPLANT - E
</div>
<div>
    LAVENDER - O
</div>
<div>
    POTATOES - S
</div>
<div>
    PUMPKINS - I
</div>
<div>
    RADISHES - N
</div>
<div>
    ROSEMASRY - T
</div>
<div>
    TOMATOES - E
</div>
<p class="my-3">
    The answer is <span class="h5 text-success">TEOSINTE</span>.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    This is one of my favorite puzzles! It's specifically designed to be a morale boost to start the final round. If you reached it, I hope it provided a nice breath of fresh air after the tough puzzles in round two! It also completes the Royal/FOIL/Soil Boxes trio.
</div>
<div class="flavor">
    Some of my favorite clues in no particular order: "Musical Styles" --> HARRY, "There are three of them in this answer" --> ESSES, and "Frat member practicing cat-cow" --> BROGI. -JO
</div>
{% endblock solutioncontent %}