{% extends "hunt20/puzzles/puzzlebase.html" %}
{% load static %}
{%block bodyst%}northpole{%endblock bodyst%}
{% block puzzlecontent %}
<div class="flavor">
    You arrive at the airport but the flight board is looking quite cryptic
</div>
<div class="container mb-3">
    <div class="card bg-dark">
        <div class="card-title border-bottom">
            <h2 class="text-warning mx-2">
                Departures
            </h2>
        </div>
        <div class="card-body bg-dark">
            <table class="bg-dark flight">
                <tr>
                    <td>Destination</td>
                    <td>Gate</td>
                    <td>Time</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>1</td>
                    <td>7:00</td>
                    <td>Altered the mercury dance?</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>2</td>
                    <td>7:00</td>
                    <td>Nordic heads find it normal now in some hospitals</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>3</td>
                    <td>9:00</td>
                    <td>Neighboring Rob returns a jewelry piece outside Germany</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>4</td>
                    <td>9:00</td>
                    <td>The fattest spouses are in Connecticut</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>5</td>
                    <td>7:00</td>
                    <td>Within, MIB lack endurance to burn</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>6</td>
                    <td>6:00</td>
                    <td>Nap in the noisiest area</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>8</td>
                    <td>9:00</td>
                    <td>Herb said, "Senator Booker, behead Xander!"</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>9</td>
                    <td>8:00</td>
                    <td>Strangely, I met one zebra's head in the Pacific or Atlantic</td>
                </tr>
                <tr>
                    <td>???</td>
                    <td>12</td>
                    <td>8:00</td>
                    <td>Powell and co. ate a diner scramble and made connection on social media</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<h3 class="mb-4">Planes</h3>
<img src="{% static "hunt20/p16/a1.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a2.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a3.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a4.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a5.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a6.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a7.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a8.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">
<img src="{% static "hunt20/p16/a9.jpg" %}" alt="" class="mb-2 d-block bg-transparent" style="width: 30%">

{% endblock puzzlecontent %}