{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}northpole{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    The flavor text clues that something "cryptic" is going on. The departure statuses are, in fact, <a class="text-primary" href="https://en.wikipedia.org/wiki/Cryptic_crossword#How_cryptic_clues_work">cryptic crossword clues</a>. The time of departure is the length of the answer. Answers (with explanation):
</p>
<div>
    Altered the mercury dance? - CHANGED (Altered / Anagram hg+dance)
</div>
<div>
    Nordic heads find it normal now in some hospitals - FINNISH (Nordic / starting letters of "find it normal...")
</div>
<div>
    Neighboring Rob returns a jewelry piece outside Germany - BORDERING (Neighboring / Rob backwards & ring outside DE)
</div>
<div>
    The fattest spouses are in Connecticut - CHUBBIEST (The fattest / hubbies in CT)
</div>
<div>
    Within, MIB lack endurance to burn - BLACKEN (miBLACKENdurance / to burn)
</div>
<div>
    Nap in the noisiest area - SIESTA (Nap / noiSIESTArea)
</div>
<div>
    Herb said, "Senator Booker, behead Xander!" - CORIANDER (Herb / "Cory" + ander)
</div>
<div>
    Strangely, I met one zebra's head in the Pacific or Atlantic - TIMEZONE (Anagram "I met one z" / Pacific or Atlantic)
</div>
<div>
    Powell and co. ate a diner scramble and made a connection on social media - FRIENDED (Anagrammed "diner" inside "Fed" / made a connection on social media)
</div>
<p class="my-3">
    The planes have traditional clues and can be matched up with a cryptic departure answer by adding three letters. These three letters are all airport codes near large world cities. Index the gate number into the clued airport.
</p>
<table class="table text-center">
    <thead>
        <th>Plane Clue</th>
        <th>Plane Answer</th>
        <th>Paired Status Answer</th>
        <th>Airport Code</th>
        <th>City</th>
        <th>Gate</th>
        <th>Indexed Letter</th>
    </thead>
    <tr>
        <td>Pacific strait</td>
        <td>BERING</td>
        <td>BORDERING</td>
        <td>ORD</td>
        <td>Chicago</td>
        <td>3</td>
        <td>I</td>
    </tr>
    <tr>
        <td>There are 4 in a square</td>
        <td>CORNER</td>
        <td>CORIANDER</td>
        <td>IAD</td>
        <td>Washington, DC</td>
        <td>8</td>
        <td>T</td>
    </tr>
    <tr>
        <td>Released</td>
        <td>FREED</td>
        <td>FRIENDED</td>
        <td>IND</td>
        <td>Indianapolis</td>
        <td>12</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Dead, Baltic, or Caspian</td>
        <td>SEA</td>
        <td>SIESTA</td>
        <td>IST</td>
        <td>Istanbul</td>
        <td>6</td>
        <td>B</td>
    </tr>
    <tr>
        <td>Pumbaa's pal</td>
        <td>TIMON</td>
        <td>TIMEZONE</td>
        <td>EZE</td>
        <td>Buenos Aires</td>
        <td>9</td>
        <td>R</td>
    </tr>
    <tr>
        <td>Place for canoeing</td>
        <td>LAKE</td>
        <td>BLACKEN</td>
        <td>BCN</td>
        <td>Barcelona</td>
        <td>5</td>
        <td>E</td>
    </tr>
    <tr>
        <td>Picasso was considered one</td>
        <td>CUBIST</td>
        <td>CHUBBIEST</td>
        <td>HBE</td>
        <td>Alexandria</td>
        <td>4</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Places to spend the night</td>
        <td>INNS</td>
        <td>FINNISH</td>
        <td>FIH</td>
        <td>Kinshasa</td>
        <td>2</td>
        <td>I</td>
    </tr>
    <tr>
        <td>Home for a pet bird</td>
        <td>CAGE</td>
        <td>CHANGED</td>
        <td>HND</td>
        <td>Tokyo</td>
        <td>1</td>
        <td>T</td>
    </tr>
</table>
<p>
    The extracted letters spell ITS BREXIT. <span class="h5 text-success">BREXIT</span> is the answer.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    We had wanted to do a puzzle with cryptic clues and finally landed (see what I did there) on this idea. The clues were actually a lot harder than I though they'd be to put together. My favorite one is "The fattest spouses are in Connecticut". Not too many teams got here so I'd like to get a cryptic puzzle in an earlier round next year. Study up! -KO
</div>
{% endblock solutioncontent %}