{% extends "hunt20/puzzles/puzzlebase.html" %}
{% load static %}
{%block bodyst%}northpole{%endblock bodyst%}

{% block puzzlecontent %}
<div class="flavor">
    Obi-Wan...
</div>
<img src="{% static "hunt20/p17/obiwan.png" %}" alt="" class="mx-auto d-block bg-transparent" style="width: 80%">
<div class="row my-3 justify-content-between">
    <div class="col-lg-2 text-center my-3">
        (6)
        <br>
        (4 3)
        <br>
        (6)
        <br>
        (5-2)
        <br>
        (6)
    </div>
    <div class="col-lg-2 text-center my-3">
        (4 2 3 6 4 2)
        <br>
        (6 2 3 4)
        <br>
        (3 8)
        <br>
        (3 4 6)
        <br>
        (3 5 8 8)
    </div>
    <div class="col-lg-2 text-center my-3">
        (7)
        <br>
        (3 7)
        <br>
        (5 3)
        <br>
        (5)
        <br>
        (5 & 9)
        <br>
        (4 6)
    </div>
    <div class="col-lg-2 text-center my-3">
        (5)
        <br>
        (5 4)
        <br>
        (3-1)
        <br>
        (4 5)
        <br>
        (8)
    </div>
    <div class="col-lg-2 text-center my-3">
        (5)
        <br>
        (8)
        <br>
        (5 4)
        <br>
        (5 10)
    </div>
</div>
<div class="row">
    <h2 class="mx-auto">
        🎬🎸💼🎤🌎💼🎤
    </h2>
</div>
{% endblock puzzlecontent %}