{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}northpole{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    The title and flavor text make the start of a memorable quote from A New Hope. "Obi-Wan... Now that's a name I've not heard in a long time."
</p>
<p>
    Each image represents the original name of a prominent company, famous musical artist, popular band, notable location, or the working title for a blockbuster film. The modern or known names are clued by the enumerations in alphabetical order (by modern name) per category. The answers are:
</p>
<h5>Companies</h5>
<div>
    Relentless --> Amazon (Relentless Energy Logo)
</div>
<div>
    Sound of Music --> Best Buy
</div>
<div>
    Backrub --> Google
</div>
<div>
    Brad's Drink --> Pepsi-Co
</div>
<div>
    Matchbox --> Tinder
</div>
<h5 class="mt-2">Working Titles of Films</h5>
<div>
    Paradox --> Back To The Future Part II
</div>
<div>
    Blue Harvest --> Return of the Jedi
</div>
<div>
    Group Hug --> The Avengers
</div>
<div>
    Rory's First Kiss --> The Dark Knight (Rory McIlroy kissing the trophy at his first PGA major win)
</div>
<div>
    Head Cheese --> The Texas Chainsaw Massacre
</div>
<h5 class="mt-2">Bands</h5>
<div>
    Angel and the Snake --> Blondie
</div>
<div>
    Atomic Mass --> Def Leppard
</div>
<div>
    Mookie Blaylock --> Pearl Jam
</div>
<div>
    Smile --> Queen
</div>
<div>
    Tom and Jerry --> Simon & Garfunkel
</div>
<div>
    Shrug --> Snow Patrol
</div>
<h5 class="mt-2">Solo Artists</h5>
<div>
    (Aubrey) Graham --> Drake
</div>
<div>
    (Reginald) Dwight --> Elton John
</div>
<div>
    (Tracy) Marrow --> Ice-T
</div>
<div>
    (Katherine) Hudson --> Katy Perry
</div>
<div>
    (Christopher) Bridges --> Ludacris
</div>
<h5 class="mt-2">Locations</h5>
<div>
    Gold Coast --> Ghana
</div>
<div>
    Gilbert Islands --> Kiribati (Island emojis over a map of Gilbert, AZ)
</div>
<div>
    Pig's Eye --> Saint Paul
</div>
<div>
    Leningrad (Saint Petersburg)
</div>
<br>
<p>
    Each of the sets can be traced in the image, in order, to spell out a letter.
</p>
<img src='/static/hunt20/p17/obiwan_xzy2.png' class='img-fluid'>
<p class="my-3">
    Each emoji can be associated with a category and its letter.
</p>
<div>🎬 - Films - M</div>
<div>🎸 - Bands - I</div>
<div>💼 - Companies - A</div>
<div>🎤 - Solo Artists - O</div>
<div>🌎 - Locations - Y</div>
<p class="my-3">
    🎬🎸💼🎤🌎💼🎤 can now be read as MIAOYAO. Miao-Yao is another name for the language family known as <span class="h5 text-success">HMONG-MIEN</span>, the answer to the puzzle.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    Another one of my favorites. It hits a lot of checkboxes for me--references pop culture, silly images, and a fun extraction. I originally wanted to have 7 different categories but unfortunately ran out of ideas after the 5 seen here. Good thing the clue phrase had only 5 unique letters. -JO
</div>

{% endblock solutioncontent %}