{% extends "hunt20/puzzles/puzzlebase.html" %}
{%block bodyst%}northpole{%endblock bodyst%}

{% block puzzlecontent %}
<div class="flavor">
    Time to study up if you're going to take on Santa. You've read the encyclopedia of war cover to cover but unfortunately your notes seem to have fallen apart. Maybe you can piece them back together from the strands.
</div>
<div class="row">
    <div class="col-lg-5">
        <h3>Clues</h3>
        <p>90s TV princess (4)</p>
        <p>Animated Disney film (8)</p>
        <p>Deceptive horse (6)</p>
        <p>Den (7)</p>
        <p>Desirble seat (7)</p>
        <p>FOX drama (6)</p>
        <p>Grant (7)</p>
        <p>Illegal event involving canines (8)</p>
        <p>Like AJR or The Bee Gees (4 2 8)</p>
        <p>Like happy-sounding music (5)</p>
        <p>MLB team (7)</p>
        <p>Mood on the Western side (5)</p>
        <p>Mountain tribe (6)</p>
        <p>Naha perfecture (7)</p>
        <p>NBA team (8)</p>
        <p>Nerdy language (7)</p>
        <p>Nighttime (4 4 6)</p>
        <p>Search through something (5)</p>
        <p>Secluded (7)</p>
        <p>Shade of blue (4)</p>
        <p>Small sheep? (6 7)</p>
        <p>Stir fry "Grill" chain (7)</p>
        <p>Subject of a Cash ballad (3 5)</p>
        <p>Achilles (8)</p>
        <p>Tom Cruise movie (8)</p>
        <p>TV mystery novelist (6)</p>
    </div>
    <div class="col-lg-7">
        <h3>Connections</h3>
        <p>A: B, C, H, J, L, N, N, N, R, R, R, S, T, V, W, Y, Y</p>
        <p>B: A, A, I, R</p>
        <p>C: A, L, H, U</p>
        <p>D: A, O, O</p>
        <p>E: B, E, M, N, N, R, R, R, S, S, S, S, S, T</p>
        <p>F: B, I, L, O</p>
        <p>G: E, F, H, H, H, O, U</p>
        <p>H: A, E, E, I, I, I, O, O, O, T</p>
        <p>I: E, E, F, G, G, L, N, N, O, R, R, R, S, T, V</p>
        <p>J: A, A, O </p>
        <p>K: E, I, L, T, Y</p>
        <p>L: A, E, E, E, E, E, E, I, I, K, L, Y</p>
        <p>M: A, O, P</p>
        <p>N: A, A, A, D, G, G, K</p>
        <p>O: D, F, G, J, K, L, N, R, R, R, R, T, T, X</p>
        <p>P: I, R</p>
        <p>Q: U</p>
        <p>R: A, C, E, E, I, I, I, I, I, K, N, O, O, O, R, S, S, T</p>
        <p>S: E, H, S, T</p>
        <p>T: E, G, H, H, L, L, R, T, Y</p>
        <p>U: L, L, I, N</p>
        <p>V: A, A, Y</p>
        <p>W: A, A</p>
        <p>X: E, H</p>
        <p>Y: A, E, M, R, S</p>
        <p>Z: E</p>
    </div>
</div>

{% endblock puzzlecontent %}