{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}northpole{% endblock bodyclass%}

{% block solutioncontent %}
<p>All of the clues can be filled in with a battle-themed word or phrase. Every answer starts from A-Z and can be found in and confirmed by the connections on the right. A: B, means that, at some point, a B will follow an A. So FOXHOLE generates F: O, O: X, X: H, etc. The answers are:</p>
<p>XENA - 90s TV princess (4)</p>
<p>HERCULES - Animated Disney film (8)</p>
<p>TROJAN - Deceptive horse (6)</p>
<p>FOXHOLE - Den (7)</p>
<p>SHOTGUN - Desirable seat (7)</p>
<p>EMPIRE - FOX drama (6)</p>
<p>ULYSSES - Grant (7)</p>
<p>DOGFIGHT - Illegal event involving canines (8)</p>
<p>BAND OF BROTHERS - Like AJR or The Bee Gees (4 2 8)</p>
<p>MAJOR - Like happy-sounding music (5)</p>
<p>YANKEES - MLB team (7)</p>
<p>QUIET - Mood on the Western side (5)</p>
<p>JABARI - Mountain tribe (6)</p>
<p>OKINAWA - Naha prefecture (7)</p>
<p>WARRIORS - NBA team (8)</p>
<p>KLINGON - Nerdy language (7)</p>
<p>ZERO DARK THIRTY - Nighttime (4 4 6)</p>
<p>RIFLE - Search through something (5)</p>
<p>PRIVATE - Secluded (7)</p>
<p>NAVY - Shade of blue (4)</p>
<p>LITTLE BIGHORN - Small sheep? (6 7)</p>
<p>GENGHIS - Stir fry "Grill" chain (7)</p>
<p>IRA HAYES - Subject of a Cash ballad (3 5)</p>
<p>ACHILLES - Tendon (8)</p>
<p>VALKYRIE - Tom Cruise movie (8)</p>
<p>CASTLE - TV mystery novelist (6)</p>
</div>
<p>
    There are unused connections at the end. They are A:Y, C:L, L:A, M:O, O:R, R:E, Y:M. Turning these into a word gives the answer <span class="h5 text-success">CLAYMORE</span>.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    This was the last puzzle to be written for the hunt. The A-Z was originally used for a more complicated extraction but we decided to simplify it in hopes of eliminating another wall at the end of a puzzle. It got quite a few solves from teams that made it to round three so I think that was a good idea! -KO
</div>
{% endblock solutioncontent %}