{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}northpole{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    Each 9x9 can be filled in by placing the smaller 3x3 squares of a similar color into the bigger squares so that several items can be found that fit a non-baseball definition of the statistical categories. The remaining letters (denoted with *) spell out the name of an MLB player. Look up how many of that stat the MLB player had and convert to a letter.
</p>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>K*</td>
                <td>E*</td>
                <td>B</td>
                <td class="l g">L</td>
                <td class="g">I</td>
                <td class="g">N</td>
                <td class="l b">D</td>
                <td class="b">I</td>
                <td class="b">N</td>
            </tr>
            <tr>
                <td>G</td>
                <td>L</td>
                <td>I</td>
                <td class="l g">G</td>
                <td class="g">H</td>
                <td class="g">T</td>
                <td class="l b">S</td>
                <td class="b">L*</td>
                <td class="b">I</td>
            </tr>
            <tr>
                <td>N</td>
                <td>M</td>
                <td>Y</td>
                <td class="l g">F</td>
                <td class="g">E</td>
                <td class="g">E</td>
                <td class="l b">L</td>
                <td class="b">I</td>
                <td class="b">N</td>
            </tr>
            <tr>
                <td class="t">G</td>
                <td class="t">S</td>
                <td class="t">V*</td>
                <td class="l g t">I*</td>
                <td class="g t">L</td>
                <td class="g t">O</td>
                <td class="l b t">O</td>
                <td class="b t">K</td>
                <td class="b t">W</td>
            </tr>
            <tr>
                <td>H</td>
                <td>A</td>
                <td>T</td>
                <td class="l g">Y</td>
                <td class="g">O</td>
                <td class="g">U</td>
                <td class="l b">M</td>
                <td class="b">A</td>
                <td class="b">D</td>
            </tr>
            <tr>
                <td>E</td>
                <td>M</td>
                <td>E</td>
                <td class="l g">D</td>
                <td class="g">O</td>
                <td class="g">N*</td>
                <td class="l b">G*</td>
                <td class="b">U*</td>
                <td class="b">O</td>
            </tr>
            <tr>
                <td class="t">L</td>
                <td class="t">D</td>
                <td class="t">T</td>
                <td class="l g t">O</td>
                <td class="g t">W</td>
                <td class="g t">N</td>
                <td class="l b t">R</td>
                <td class="b t">O</td>
                <td class="b t">A</td>
            </tr>
            <tr>
                <td>D</td>
                <td>T*</td>
                <td>I*</td>
                <td class="l g">E*</td>
                <td class="g">R*</td>
                <td class="g">U</td>
                <td class="l b">P</td>
                <td class="b">T</td>
                <td class="b">O</td>
            </tr>
            <tr>
                <td>W</td>
                <td>N</td>
                <td>F</td>
                <td class="l g">U</td>
                <td class="g">N</td>
                <td class="g">K</td>
                <td class="l b">R*</td>
                <td class="b">E*</td>
                <td class="b">Z*</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Hits (Songs that reached #1)</h3>
        <p>Blinding Lights</p>
        <p>In My Feelings</p>
        <p>Look What You Made Me Do</p>
        <p>Old Town Road</p>
        <p>Uptown Funk</p>
        <p>*Kelvin Gutierrez* (19 hits) - S</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>F</td>
                <td>A</td>
                <td>L</td>
                <td class="l g">S</td>
                <td class="g">E</td>
                <td class="g">P</td>
                <td class="l b">O</td>
                <td class="b">S</td>
                <td class="b">I</td>
            </tr>
            <tr>
                <td>T</td>
                <td>I</td>
                <td>V</td>
                <td class="l g">E</td>
                <td class="g">J*</td>
                <td class="g">A*</td>
                <td class="l b">F</td>
                <td class="b">A</td>
                <td class="b">T</td>
            </tr>
            <tr>
                <td>F</td>
                <td>I</td>
                <td>N</td>
                <td class="l g">G</td>
                <td class="g">E</td>
                <td class="g">R</td>
                <td class="l b">V*</td>
                <td class="b">F</td>
                <td class="b">I</td>
            </tr>
            <tr>
                <td class="t">L</td>
                <td class="t">E</td>
                <td class="t">N</td>
                <td class="l g t">O</td>
                <td class="g t">T</td>
                <td class="g t">F</td>
                <td class="l b t">O</td>
                <td class="b t">U</td>
                <td class="b t">N</td>
            </tr>
            <tr>
                <td>D</td>
                <td>I*</td>
                <td>L</td>
                <td class="l g">O</td>
                <td class="g">G</td>
                <td class="g">I</td>
                <td class="l b">C</td>
                <td class="b">A</td>
                <td class="b">L</td>
            </tr>
            <tr>
                <td>F</td>
                <td>A</td>
                <td>L</td>
                <td class="l g">L</td>
                <td class="g">A</td>
                <td class="g">C</td>
                <td class="l b">Y</td>
                <td class="b">E*</td>
                <td class="b">M</td>
            </tr>
            <tr>
                <td class="t">I</td>
                <td class="t">S</td>
                <td class="t">S</td>
                <td class="l g t">E</td>
                <td class="g t">D</td>
                <td class="g t">F</td>
                <td class="l b t">L</td>
                <td class="b t">I</td>
                <td class="b t">G</td>
            </tr>
            <tr>
                <td>H</td>
                <td>T</td>
                <td>R*</td>
                <td class="l g">B*</td>
                <td class="g">A*</td>
                <td class="g">W</td>
                <td class="l b">R</td>
                <td class="b">O</td>
                <td class="b">N</td>
            </tr>
            <tr>
                <td>G</td>
                <td>N</td>
                <td>U</td>
                <td class="l g">M</td>
                <td class="g">B</td>
                <td class="g">E</td>
                <td class="l b">R</td>
                <td class="b">E*</td>
                <td class="b">Z*</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Errors</h3>
        <p>False Positive</p>
        <p>Fat-Finger</p>
        <p>File Not Found</p>
        <p>Logical Fallacy</p>
        <p>Missed Flight</p>
        <p>Wrong Number</p>
        <p>*Javier Baez* (15 errors) - O</p> 
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>B*</td>
                <td>A</td>
                <td>R</td>
                <td class="l g">E</td>
                <td class="g">Y</td>
                <td class="g">O</td>
                <td class="l b">U</td>
                <td class="b">T</td>
                <td class="b">H</td>
            </tr>
            <tr>
                <td>E</td>
                <td>O</td>
                <td>N</td>
                <td class="l g">E</td>
                <td class="g">R*</td>
                <td class="g">A*</td>
                <td class="l b">N*</td>
                <td class="b">D</td>
                <td class="b">A</td>
            </tr>
            <tr>
                <td>T</td>
                <td>I</td>
                <td>N</td>
                <td class="l g">G</td>
                <td class="g">A</td>
                <td class="g">R</td>
                <td class="l b">O</td>
                <td class="b">U</td>
                <td class="b">N</td>
            </tr>
            <tr>
                <td class="t">D</td>
                <td class="t">D*</td>
                <td class="t">O*</td>
                <td class="l g t">N*</td>
                <td class="g t">F</td>
                <td class="g t">I</td>
                <td class="l b t">R</td>
                <td class="b t">S</td>
                <td class="b t">T</td>
            </tr>
            <tr>
                <td>D</td>
                <td>A</td>
                <td>T</td>
                <td class="l g">E</td>
                <td class="g">S</td>
                <td class="g">N*</td>
                <td class="l b">I*</td>
                <td class="b">L</td>
                <td class="b">O</td>
            </tr>
            <tr>
                <td>V</td>
                <td>E</td>
                <td>I</td>
                <td class="l g">S</td>
                <td class="g">L</td>
                <td class="g">A</td>
                <td class="l b">N</td>
                <td class="b">D</td>
                <td class="b">M*</td>
            </tr>
            <tr>
                <td class="t">M*</td>
                <td class="t">T</td>
                <td class="t">H</td>
                <td class="l g t">E</td>
                <td class="g t">B</td>
                <td class="g t">A</td>
                <td class="l b t">C</td>
                <td class="b t">H</td>
                <td class="b t">E</td>
            </tr>
            <tr>
                <td>L</td>
                <td>O</td>
                <td>R</td>
                <td class="l g">O*</td>
                <td class="g">T</td>
                <td class="g">O</td>
                <td class="l b">O</td>
                <td class="b">H</td>
                <td class="b">O</td>
            </tr>
            <tr>
                <td>T</td>
                <td>T</td>
                <td>O</td>
                <td class="l g">H</td>
                <td class="g">A</td>
                <td class="g">N</td>
                <td class="l b">D</td>
                <td class="b">L</td>
                <td class="b">E</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Singles (Reality dating shows)</h3>
        <p>Are You The One?</p>
        <p>Dating Around</p>
        <p>First Dates</p>
        <p>Love Island</p>
        <p>The Bachelor</p>
        <p>Too Hot To Handle</p>
        <p>*Brandon Nimmo* (24 singles) - X</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>A*</td>
                <td>R*</td>
                <td>O*</td>
                <td class="l g">G</td>
                <td class="g">L</td>
                <td class="g">O</td>
                <td class="l b">B</td>
                <td class="b">E</td>
                <td class="b">L*</td>
            </tr>
            <tr>
                <td>D*</td>
                <td>I</td>
                <td>N</td>
                <td class="l g">T</td>
                <td class="g">O</td>
                <td class="g">U</td>
                <td class="l b">C</td>
                <td class="b">H</td>
                <td class="b">W</td>
            </tr>
            <tr>
                <td>E</td>
                <td>E</td>
                <td>K</td>
                <td class="l g">L</td>
                <td class="g">Y</td>
                <td class="g">I*</td>
                <td class="l b">S*</td>
                <td class="b">C*</td>
                <td class="b">N</td>
            </tr>
            <tr>
                <td class="t">A</td>
                <td class="t">T</td>
                <td class="t">I</td>
                <td class="l g t">O</td>
                <td class="g t">N</td>
                <td class="g t">A</td>
                <td class="l b t">L</td>
                <td class="b t">E</td>
                <td class="b t">N</td>
            </tr>
            <tr>
                <td>Q</td>
                <td>U</td>
                <td>I</td>
                <td class="l g">R</td>
                <td class="g">E</td>
                <td class="g">R</td>
                <td class="l b">H*</td>
                <td class="b">A*</td>
                <td class="b">N</td>
            </tr>
            <tr>
                <td>E</td>
                <td>W</td>
                <td>S</td>
                <td class="l g">O</td>
                <td class="g">F</td>
                <td class="g">T</td>
                <td class="l b">H</td>
                <td class="b">E</td>
                <td class="b">W</td>
            </tr>
            <tr>
                <td class="t">O</td>
                <td class="t">R</td>
                <td class="t">L</td>
                <td class="l g t">D</td>
                <td class="g t">P*</td>
                <td class="g t">M*</td>
                <td class="l b t">A*</td>
                <td class="b t">S</td>
                <td class="b t">T</td>
            </tr>
            <tr>
                <td>A</td>
                <td>R</td>
                <td>N*</td>
                <td class="l g">W</td>
                <td class="g">E</td>
                <td class="g">E</td>
                <td class="l b">K</td>
                <td class="b">L</td>
                <td class="b">Y</td>
            </tr>
            <tr>
                <td>W</td>
                <td>O</td>
                <td>R</td>
                <td class="l g">L</td>
                <td class="g">D</td>
                <td class="g">N</td>
                <td class="l b">E</td>
                <td class="b">W</td>
                <td class="b">S</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Wild Pitches (Sensationalist magazines)</h3>
        <p>Globe</p>
        <p>In Touch Weekly</p>
        <p>National Enquirer</p>
        <p>News Of The World</p>
        <p>Star</p>
        <p>Weekly World News</p>
        <p>*Aroldis Chapman* (6 wild pitches) - F</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>K*</td>
                <td>R*</td>
                <td>B</td>
                <td class="l g">L</td>
                <td class="g">I</td>
                <td class="g">N</td>
                <td class="l b">D</td>
                <td class="b">M</td>
                <td class="b">I</td>
            </tr>
            <tr>
                <td>C</td>
                <td>E</td>
                <td>F</td>
                <td class="l g">R</td>
                <td class="g">E</td>
                <td class="g">N</td>
                <td class="l b">C</td>
                <td class="b">H</td>
                <td class="b">H</td>
            </tr>
            <tr>
                <td>E</td>
                <td>N</td>
                <td>S</td>
                <td class="l g">I*</td>
                <td class="g">L</td>
                <td class="g">A</td>
                <td class="l b">W</td>
                <td class="b">S</td>
                <td class="b">O</td>
            </tr>
            <tr>
                <td class="t">F</td>
                <td class="t">M</td>
                <td class="t">O</td>
                <td class="l g t">T</td>
                <td class="g t">I</td>
                <td class="g t">O</td>
                <td class="l b t">N</td>
                <td class="b t">S*</td>
                <td class="b t">B*</td>
            </tr>
            <tr>
                <td>R*</td>
                <td>L</td>
                <td>I</td>
                <td class="l g">T</td>
                <td class="g">T</td>
                <td class="g">L</td>
                <td class="l b">E</td>
                <td class="b">P</td>
                <td class="b">I</td>
            </tr>
            <tr>
                <td>G</td>
                <td>S</td>
                <td>Y*</td>
                <td class="l g">A*</td>
                <td class="g">M</td>
                <td class="g">U</td>
                <td class="l b">S</td>
                <td class="b">K</td>
                <td class="b">E</td>
            </tr>
            <tr>
                <td class="t">T</td>
                <td class="t">E</td>
                <td class="t">E</td>
                <td class="l g t">R</td>
                <td class="g t">S</td>
                <td class="g t">N*</td>
                <td class="l b t">P</td>
                <td class="b t">R</td>
                <td class="b t">I</td>
            </tr>
            <tr>
                <td>M</td>
                <td>A</td>
                <td>R</td>
                <td class="l g">Y</td>
                <td class="g">C</td>
                <td class="g">O</td>
                <td class="l b">L</td>
                <td class="b">O</td>
                <td class="b">R</td>
            </tr>
            <tr>
                <td>S</td>
                <td>T*</td>
                <td>W</td>
                <td class="l g">I</td>
                <td class="g">S</td>
                <td class="g">E</td>
                <td class="l b">M</td>
                <td class="b">E</td>
                <td class="b">N</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Triples</h3>
        <p>Blind Mice</p>
        <p>French Hens</p>
        <p>Laws of Motion</p>
        <p>Little Pigs</p>
        <p>Musketeers</p>
        <p>Primary Colors</p>
        <p>Wise Men</p>
        <p>*Kris Bryant* (1 triple) - A</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>B*</td>
                <td>J</td>
                <td>A</td>
                <td class="l g">M</td>
                <td class="g">E</td>
                <td class="g">S</td>
                <td class="l b">L</td>
                <td class="b">I</td>
                <td class="b">P</td>
            </tr>
            <tr>
                <td>T</td>
                <td>O</td>
                <td>N</td>
                <td class="l g">R*</td>
                <td class="g">A*</td>
                <td class="g">J</td>
                <td class="l b">E</td>
                <td class="b">R</td>
                <td class="b">R</td>
            </tr>
            <tr>
                <td>Y</td>
                <td>S</td>
                <td>T</td>
                <td class="l g">I</td>
                <td class="g">L</td>
                <td class="g">L</td>
                <td class="l b">E</td>
                <td class="b">R</td>
                <td class="b">K</td>
            </tr>
            <tr>
                <td class="t">O</td>
                <td class="t">B</td>
                <td class="t">E</td>
                <td class="l g t">B</td>
                <td class="g t">R</td>
                <td class="g t">Y</td>
                <td class="l b t">A</td>
                <td class="b t">N</td>
                <td class="b t">T</td>
            </tr>
            <tr>
                <td>D*</td>
                <td>K*</td>
                <td>E*</td>
                <td class="l g">L</td>
                <td class="g">I</td>
                <td class="g">T</td>
                <td class="l b">T</td>
                <td class="b">L</td>
                <td class="b">E</td>
            </tr>
            <tr>
                <td>R</td>
                <td>I</td>
                <td>C</td>
                <td class="l g">H</td>
                <td class="g">A</td>
                <td class="g">R</td>
                <td class="l b">D</td>
                <td class="b">L*</td>
                <td class="b">M</td>
            </tr>
            <tr>
                <td class="t">A</td>
                <td class="t">R</td>
                <td class="t">Y</td>
                <td class="l g t">P</td>
                <td class="g t">A</td>
                <td class="g t">T</td>
                <td class="l b t">G</td>
                <td class="b t">L</td>
                <td class="b t">E</td>
            </tr>
            <tr>
                <td>A</td>
                <td>S</td>
                <td>O</td>
                <td class="l g">N</td>
                <td class="g">L*</td>
                <td class="g">M</td>
                <td class="l b">A</td>
                <td class="b">X</td>
                <td class="b">V</td>
            </tr>
            <tr>
                <td>O</td>
                <td>N</td>
                <td>S</td>
                <td class="l g">Y</td>
                <td class="g">D</td>
                <td class="g">O</td>
                <td class="l b">W</td>
                <td class="b">E*</td>
                <td class="b">R*</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Losses (Celebrity deaths)</h3>
        <p>James Lipton</p>
        <p>Jerry Stiller</p>
        <p>Kobe Bryant</p>
        <p>Little Richard</p>
        <p>Mary Pat Gleason</p>
        <p>Max Von Sydow</p>
        <p>*Brad Keller* (14 losses) - N</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-4">
        <table class="stats">
            <tr>
                <td>B</td>
                <td>L</td>
                <td>A</td>
                <td class="l g">C</td>
                <td class="g">K</td>
                <td class="g">F</td>
                <td class="l b">R</td>
                <td class="b">I</td>
                <td class="b">D</td>
            </tr>
            <tr>
                <td>A</td>
                <td>Y</td>
                <td>Y*</td>
                <td class="l g">A*</td>
                <td class="g">C</td>
                <td class="g">L</td>
                <td class="l b">E</td>
                <td class="b">A</td>
                <td class="b">R</td>
            </tr>
            <tr>
                <td>A</td>
                <td>N</td>
                <td>C</td>
                <td class="l g">E</td>
                <td class="g">R</td>
                <td class="g">A</td>
                <td class="l b">C</td>
                <td class="b">K</td>
                <td class="b">D</td>
            </tr>
            <tr>
                <td class="t">O</td>
                <td class="t">L</td>
                <td class="t">L</td>
                <td class="l g t">A</td>
                <td class="g t">R</td>
                <td class="g t">T</td>
                <td class="l b t">R</td>
                <td class="b t">E</td>
                <td class="b t">E</td>
            </tr>
            <tr>
                <td>S*</td>
                <td>I*</td>
                <td>O</td>
                <td class="l g">U</td>
                <td class="g">T</td>
                <td class="g">L</td>
                <td class="l b">E</td>
                <td class="b">T</td>
                <td class="b">M</td>
            </tr>
            <tr>
                <td>A</td>
                <td>L</td>
                <td>L</td>
                <td class="l g">E*</td>
                <td class="g">L*</td>
                <td class="g">P</td>
                <td class="l b">R</td>
                <td class="b">I</td>
                <td class="b">M</td>
            </tr>
            <tr>
                <td class="t">E</td>
                <td class="t">D</td>
                <td class="t">A</td>
                <td class="l g t">Y</td>
                <td class="g t">P*</td>
                <td class="g t">U*</td>
                <td class="l b t">I*</td>
                <td class="b t">T</td>
                <td class="b t">H</td>
            </tr>
            <tr>
                <td>R</td>
                <td>I</td>
                <td>F</td>
                <td class="l g">T</td>
                <td class="g">S</td>
                <td class="g">T</td>
                <td class="l b">O</td>
                <td class="b">R</td>
                <td class="b">E</td>
            </tr>
            <tr>
                <td>Y</td>
                <td>A</td>
                <td>R</td>
                <td class="l g">D</td>
                <td class="g">S</td>
                <td class="g">A</td>
                <td class="l b">L</td>
                <td class="b">E</td>
                <td class="b">G*</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h3>Steals (Places to find deals)</h3>
        <p>Black Friday</p>
        <p>Clearance Rack</p>
        <p>Dollar Tree</p>
        <p>Outlet Mall</p>
        <p>Prime Day</p>
        <p>Thrift Store</p>
        <p>Yard Sale</p>
        <p>*Yasiel Puig* (19 steals) - S</p>
    </div>
</div>
<p class="my-3">
    The letters spell the answer <span class="h5 text-success">SOX FANS</span>.
</p>
<div class="flavor">
    
</div>
<div class="flavor">
    This puzzle was the last to be written for the hunt. It's a good puzzle I think, so I wish it had appeared a little bit earlier. It was ultimately solved by a few teams so that made me happy. On the whole I think this puzzle examplifies the difference between the second and third round. The second round is shorter puzzles with clever extractions, the third round is longer puzzles with simpler extractions. There's a poll about this on the feedback form! We might tilt next year's hunt in one of these directions. -JO
</div>
{% endblock solutioncontent %}