{% extends "hunt20/puzzles/solutionbase.html" %}
{%block bodyclass%}northpole{% endblock bodyclass%}

{% block solutioncontent %}
<p>
    After arranging the round answers in alphabetical order, the letters XMAS form the outline of a holiday tree.
</p>
<div id="monospaced">
    <div>
        BRE<strong class="text-danger">X</strong>IT
    </div>
    <div>
        CL<strong class="text-danger">A</strong>Y<strong class="text-danger">M</strong>ORE
    </div>
    <div>
        E<strong class="text-danger">A</strong>UCL<strong class="text-danger">A</strong>IRE
    </div>
    <div>
        GE<strong class="text-danger">S</strong>T<strong class="text-danger">A</strong>LT
    </div>
    <div>
        H<strong class="text-danger">M</strong>ONG<strong class="text-danger">M</strong>IEN
    </div>
    <div>
        <strong class="text-danger">S</strong>O<strong class="text-danger">X</strong>F<strong class="text-danger">A</strong>N<strong class="text-danger">S</strong>
    </div>
    <div>
        TEO<strong class="text-danger">S</strong>INTE
    </div>
</div>
<p>
    Taking every letter directly underneath a tree letter spells out <span class="h5 text-success">YULE LOG ONTO IT</span>, the final answer.
</p>
<div class="flavor">
    Author's Notes
</div>
<div class="flavor">
    I think this also continues the feedback for metas of writing slightly less story-y, more puzzle-y flavor. I think the tree idea is cute and, as the last puzzle, is intended to be tricky but I think we could have left a few more confirming clues. -JO
</div>
{% endblock solutioncontent %}