{% extends "hunt20/base.html" %}
{%block bodyclass%}{% block bodyst %}{% endblock %}{% endblock bodyclass%}
{% block content %}
    <div id="main">
        <div class="row border-bottom justify-content-between align-items-center p-2" id="puzzletop">
            <div class="col-2">
                <span class="text-small text-nowrap" id="ans">
                    <a href="{%url 'hunt20-puzzle-archives' puzzle.puzzle_id %}" class="btn btn-primary">Back to Puzzle</a>
                </span>
            </div>
            <div class="col-8">
                <div class="" id="titlearea">
                    <h1 class="" id="title">
                        {{puzzle.puzzle_name}} (Solution)
                    </h1>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="mt-4" id="content">
            {%block solutioncontent%}
            {%endblock%}
        </div>
    </div>
{% endblock content %}